// Login/register page

@import "../modules/all";

.container-login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 80vh;
  padding: $spacing-unit 0;

  @media(max-width: 767px) {
    height: auto;
  }
}



