/******** LOGIN PAGE ********/

/* Used by login.blade.php and register.blade.php and password.blade.php */

@import "../modules/all";


/******** LOGIN/REGISTER FORM ********/

.container-login-signup {
  max-width: 300px;
  padding-top: $spacing-unit;

  img {
    margin-bottom: $spacing-unit;
  }
}


/****** RESET PASSWORD ******/

.reset-container {
  padding-top: 15%;
  padding-bottom: 15%;
  background-image: url('../img/activation(2).jpg');
  background-size: cover;
}

#reset-title{
  color: white;
  text-shadow: $text-shadow;
  margin-top: 0;
}

.reset-label {
  color: white;
  text-shadow: $text-shadow;
}

#reset-button {
  width: 200px;
}

#password-jumbotron{
  background-color: rgba(153, 159, 163, 0.45);
  @media(max-width: 767px){
    padding: 3%;
  }
}



