/******** LOGIN PAGE ********/

/* Used by login.blade.php and register.blade.php and password.blade.php */

@import "../modules/all";


/******** LOGIN/REGISTER FORM ********/

.container-login-signup {
  max-width: 300px;
  padding-top: $spacing-unit;

  img {
    margin-bottom: $spacing-unit;
  }
}



