// Contact page

@import "../modules/all";

.contact-title, .contact-subtitle, .contact-email, .contact-details, .contact-alerts {
  text-align: center;
}

.contact-subtitle {
  color: $text-color-light;
  margin-bottom: $spacing-unit / 2;
}

.contact-container {
  max-width: 350px;
  margin: 0 auto;
  padding-top: $spacing-unit;
  height: 100%;
}

.control-label {
  font-weight: bold;
}