/*********  FAQ PAGE  *********/
@import "../modules/all";

.faq-list {
  list-style: none;
  padding-left: 2px;
  li {
    margin-bottom: 10px;
    a {
      color: $primary-color;
    }
  }
}

.qa-container {
  h2 {
    color: $primary-color;
  }
}

.question-answer {
  margin-bottom: 40px;
}