@import "../modules/all";

// For signed in user home page
.sections-container {
  padding: 0 50px 0 115px;
}

.section-header {
  margin: 20px 0;
}

.section-title {
  display: inline-block;
  letter-spacing: $extra-letter-spacing;
  font-size: 2em;
}

.section-see-more {
  display: inline-block;
  margin-left: $spacing-unit/2;
  position: relative;
  bottom: 5px;

  a {
    .glyphicon.glyphicon-menu-right {
      font-size: 10px;
    }
  }
}


.section-items {
  height: 302px;
  overflow: hidden;

  .item {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 205px;
    margin-right: -4px;

    .item-thumbnail {
      img {
        display: block;
        width: 175px;
        height: 175px;
        margin: 10px auto 0 auto;
      }
    }

    .item-info {
      padding: 5px 15px;

      .item-price {
        margin-bottom: 5px;
        font-size: large;
        font-weight: 600;
        color: darken($text-color, 10%);
      }

      .item-title {
        max-height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .item-condition {
        color: $text-color-light;
      }
    }
  }
}