// Homepage

@charset "utf-8";
@import "../modules/all";

.container-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-bg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url('../img/bg/wooden-table.jpg') no-repeat center;
  background-size: cover;
  height: 600px;
}

.container-top-half {
  position: relative;
  height: 430px;
  top: 50px;

  @media(max-width: 767px) {
    top: 0;
  }
}

.container-text {
  height: 100%;
  width: 100%;
}

.header-text {
  color: white;
  font-size: 5.5em;

  @media(min-width: 2500px) {
    font-size: 10em;
  }

  @media(max-width: 767px) {
    font-size: 5em;
  }
  @media(max-width: 767px) and (min-width: 555px) {
    font-size: 4em;
  }
  @media(max-width: 555px) {
    font-size: 2.5em;
  }
}

.tagline {
  color: whitesmoke;

  @media(min-width: 2500px) {
    font-size: 3em;
  }

  @media(max-width: 359px) {
    font-size: 1em;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-color: $background-color;
}

