/******* CHECKOUT PAGE *******/

@import "../modules/all";
@import "../partials/breadcrumb";

/**** PAYMENT ****/
.payment-method-tabs{
  border: 1px solid #ddd;
  border-top-color: $background-color;
  border-radius: 0 0 10px 10px;
}

.payment-card-container {
  margin: $spacing-unit auto;
  max-width: 320px;
}

.card-wrapper {
  width: 100%;
}

#form-payment {
  margin-top: $spacing-unit;

  input {
    text-align: center;
  }
}

.paypal-content {
  margin: $spacing-unit;
}