/******* BUYER ORDER CONFIRMATION PAGE *******/

// order/buyer/confirmation.blade.php

@import "../modules/all";
@import "../sections/breadcrumb";

.cart-line {
  max-width: 50%;
  @media(max-width: 767px) {
    max-width: 70%;
  }
}

.confirmation-container {
  margin-bottom: 200px;
  min-height: 90vh;
}

.progress-cart{
  padding-top: 20px;
}