// textbook/sell/product/{id}/create

@import "../modules/all";

.form-product {
  border: none;
  background: none;
  padding: 0;
}

// image upload
#dropzone-img-preview {
  border: 2px solid $border-color;
  border-radius: $border-radius-base;
  padding: $spacing-unit / 2;
  background: $clouds;

  &:hover {
    font-weight: 600;
  }
}

// Dropzone image preview
.dropzone .dz-preview .dz-image {
  border-radius: $border-radius-base !important;

  img {
    opacity: 0.8;
  }
}

.dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
}

.dz-image img {
  width: 100%;
  height: 100%;
}

.dz-clickable {
  cursor: pointer;
}

.dz-unclickable {
  cursor: default;
}

.dz-error-message{
  top: 150px !important;
}