// textbook/buy/product/{id}

@import "../modules/all";

.actions {
  a {
    display: inline-block;
  }

  form {
    display: inline-block;
    margin: 0;
  }
}

// Slider
//.slick-slide {
//  max-height: 400px;
//  outline: none;
//  cursor: pointer;
//
//  img {
//    max-height: 400px;
//    margin: 0 auto;
//  }
//}
//
//.slick-prev, .slick-next {
//  &:before {
//    color: $background-grey;
//  }
//}