// Textbook search result

@import "../modules/all";

.textbook-actions-xs {
  margin-top: $spacing-unit/2;
}

#pagination {
  text-align: center;
  .active {
    span {
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  li {
    a {
      color: $brand-primary;
    }
  }
}
