@import "../modules/all";

.sort-bar, .filter-bar, .action-bar {
  height: 3em;
}

.sort-bar {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.filter-bar {
  .filter-by, .dropdown {
    display: inline-block;
  }

  .filter-by {
    margin-right: 5px;
  }
}

.action-bar {
  position: relative;
  top: 5px;
}


