/* CSS Page for create.blade.php
 */

@import "../modules/all";

/***** CREATE FORM *****/

/* Box around all the forms*/
.textbook-create {
  padding: 5%;
}

#lang {
  color: black;
}

.lang-select {
  color: black;
}

#create-btn {
  width: 200px;
  padding: 12px;
}

/** File upload error messages **/

.upload-error-message {
  display: none;
  color: red;
  font-weight: bold;
}