// textbook/buy and textbook/sell

@import "../modules/all";

.container-image {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('../img/bg/open-book.jpg') no-repeat center;
  background-size: cover;
  height: 300px;

  .container {
    margin-top: $spacing-unit * 3;
    max-width: 900px;
  }

  .title {
    margin-bottom: $spacing-unit / 2;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
}

.textbook-buy-sell-switch {
  .container {
    max-width: 900px;

    .row {
      font-size: 20px;
      padding: $spacing-unit/2 0;
      border-bottom: 1px solid $border-color;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;

        li {
          display: inline;
          padding: $spacing-unit/2;

          a {
            color: $text-color-light;

            &:hover {
              color: $text-color;
            }
          }
        }

        .active {
          border-bottom: 3px solid $primary-color;

          a {
            color: $primary-color;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

// description section
.textbook-intro {
  margin: $spacing-unit 0;
  font-weight: 300;
  line-height: 26px;

  .container {
    max-width: 900px;

    .row {
      padding: $spacing-unit 0;
    }
  }

  p {
    font-size: 16px;
    letter-spacing: $extra-letter-spacing;
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}
