@import "../modules/all";

.book-details {
  margin: $spacing-unit 0;
}

.bar {
  background: $clouds;
  padding-top: 10px;
  //border-top: 1px solid $border-color;
  //border-bottom: 1px solid $border-color;
  margin-bottom: $spacing-unit/2;
}

.sort-bar, .filter-bar, .action-bar {
  height: 3em;
  display: inline-block;
}

.sort-bar {
  float: right;
  .sort-by-type {
    text-transform: capitalize;
  }
}

.filter-bar {
  float: left;
  .filter-by, .dropdown {
    display: inline-block;
  }
}


