/******* TEXTBOOK SEARCH LIST PAGE *******/
/* Used for list.blade.php*/

@import "../modules/all";


/** TEXTBOOK SEARCH LIST **/

#pagination {
  text-align: center;
  .active {
    span {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  li {
    a {
      color: $primary-color;
    }
  }
}
