// textbook/buy and textbook/sell

@import "../modules/all";

// textbook search

.container-image {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('../img/bg/open-book.jpg') no-repeat center;
  background-size: cover;
  height: 300px;

  .container {
    margin-top: $spacing-unit * 3;
    max-width: 900px;
  }

  .title {
    margin-bottom: $spacing-unit / 2;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
}

// description sections

.textbook-intro {
  margin: $spacing-unit 0;
  font-weight: 300;
  line-height: 26px;

  .container {
    max-width: 900px;

    .row {
      padding: $spacing-unit 0;
    }
  }

  p {
    font-size: 16px;
    letter-spacing: $extra-letter-spacing;
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}