@import "../modules/all";

#trade-in-sections {
  text-align: center;

  img {
    max-width: 200px;
    padding: 30px 0;
  }
}

#trade-in-header {
  .jumbotron {
    background: #fffee8;

    h1 {
      font-size: 4em;

      @media (max-width: $screen-sm-min) {
        font-size: 1.8em;
      }
    }
  }
}

#trade-in-step-1 {
  .jumbotron {
    background: #fff;
  }

  .text-checkbox {
    font-size: 0.7em;
  }
}

#trade-in-step-2 {
  .jumbotron {
    background: #fff;
  }
}

#trade-in-step-3 {
  .jumbotron {
    background: #fff;
  }
}

#trade-in-final {
  .jumbotron {
    background: #fffee8;
  }
}