/*  SCSS FOR user/email.blade.php */
@import "../modules/all";
@import "../sections/user/user-profile";

.email-input {
  margin-bottom: 20px;
}

.email-btn {
  width: 150px;
  padding: 12px;
}

.email-address-cell{
  padding-left: 0 !important;
}