/* CSS FOR sellerBookshelfIndex.php */

@import "../modules/all";
@import "../partials/user-profile";

.bookshelf-content {
  overflow-y: auto;
  overflow-x: hidden;
}

/* SORT SECTION */

//#nav-sort {
//  li {
//    a {
//      color: $text-color-light;
//      &:hover {
//        background-color: #DDDDDD;
//      }
//    }
//  }
//  li.active {
//    a {
//      background-color: $primary-color;
//      color: #FFFFFF;
//    }
//  }
//}

.bookshelf-sort {
  padding: 0;
}

#bookshelf-title-subtext {
  color: $text-color-light;
  @media(min-width: 990px){
    margin-left: 5px;
  }
}

#search-term {
  border-radius: 4px 0 0 4px;
  border-right: none;
  &:focus{
    border: 1px solid $primary-color;
    border-right: none;
    box-shadow: none;
  }
}

.search-icon {
  color: white;
}

/* BOOKS FOR SALE */

.for-sale-table-container{
  overflow-x: scroll;
}

h5 {
  margin: 0 0 3px 0;
}

.for-sale-img{
  width: 100px;
}

.books{
  max-width: 750px;
  max-height: 200px;
}

.for-sale-table{
  width: 100%;
}

.for-sale-item{
  font-size: small
}

.for-sale-info-1{
  width: 150px;
}

.for-sale-info-2{
  width: 200px;

}

.for-sale-title {
  font-size: medium;
  font-weight: bold;
  a {
    color: $primary-color;
  }
}

.for-sale-price{
  color: $price-color;
  font-weight: bold;
}

.for-sale-pub-date{
  font-size: medium;
}

.for-sale-btn-add-cart{
  padding: 0;
}

.delete-form {
  margin-top: 10px;
  display: inline-block;
}

/* back button */

#btn-back {
  text-align: left;
  padding-left: 5px;
}

.fa-arrow-circle-left{
  padding: 10px;
}



