/******** LOGIN PAGE ********/

/* Used by login.blade.php and register.blade.php */

@import "modules/all";

html body {
  background: $stuvi-purple;
}

.content{}

button:focus {
  outline: 0 !important;
}

#logo-link {
  width: 350px;
  height: 140px;
  display: block;
  margin: 80px auto 40px;
}

#login-logo {
  width: 350px;
  height: 140px;
}

/******** LOGIN/REGISTER FORM ********/

/* space between form and logo */
.vertical-center {
  margin-top: 40px;
}

#form-container {
  max-width: 500px;
}

/* inactive tab font color */
.tabs > li > a {
  color: #7AB4DE;
}

/* active tab color */
#tabs > li.active > a,
#tabs > li.active > a:hover,
#tabs > li.active > a:focus {
  background-color: #7AB4DE;
  color: #FFFFFF;
  border: 1px solid #dddddd;
}

.form-control {
  margin-bottom: 10px;
  &:focus{
    border: 2px solid #7AB4DE;
    box-shadow: none !important;
  }
}

/* space between first form input and tabs */
.form-space-offset {
  margin-top: 25px;
}

/*.scrollable-dropdown {*/
/*height: auto;*/
/*max-height: 200px;*/
/*overflow-x: hidden;*/
/*}*/

.form-group .login-button {
  background: #7AB4DE;
  width: 50%;
  color: #FFFFFF;
  box-shadow: 0 5px #5B86AA;
  margin-top: -7px;
  &:active{
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
  }
}

#password-group {
  margin-bottom: 0;
}

#forgot-password {
  color: #7AB4DE;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  padding-left: 2px;
}

label {
  color: #FFFFFF;
}

#remember-me{
  margin-left: 5px;
}

/****** RESET PASSWORD ******/

.reset-container {
  padding-top: 15%;
  padding-bottom: 15%;
  background-image: url('../img/activation(2).jpg');
  background-size: cover;
}

#reset-title{
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin-top: 0;
}

.reset-label {
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#reset-button {
  width: 200px;
  border: none;
}

#password-jumbotron{
  background-color: rgba(153, 159, 163, 0.45);
}

.panel-body {
  background: #FEFEFE;
}

.tos{
  color: #F2F2F2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

