/* CSS for /cart/index.blade.php */
@import "modules/all";

#message {
  font-style: italic;
}

#message-cont {
  padding: 1%;
  margin-top: 10px;
}

body {
  background-color: $background-color;
}

.back-row {
  margin-top: 10px;
}

#back-to-cart {
  margin-left: 25px;
  text-align: left;
  cursor: pointer;
}

.fa-arrow-circle-left {
  padding-right: 5px;
}

/* Cart progress bar */
.cart-progress {
  /*background-image: url('../img/CART.png');*/

}

.cart-line {
  max-width: 50%;
  @media(max-width: 767px) {
    max-width: 70%;
  }
}

.shopping-cart {
  min-height: 90vh;
  h1 {
    text-align: center;
    padding-top: 70px;
    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }
}

.cart-table {
  background-color: white;
  border: solid;
  border-color: #DDD;
}

.subtotal {
  border-top: hidden;
  background-color: white;
}

.coupon-form {
  margin-bottom: 0;
}

.btn-checkout {
  width: 100%;
  padding: 12px;
}