/* Coming soon page */
@import "modules/all";

.background {
  background-image: url('../img/coming.jpg');
  background-size: cover;
  min-height: 90vh;
}

.jumbotron {
  margin: 10% 10%;
  background-color: rgba(153, 159, 163, 0.45);
}

h1 {
  margin-left: -5px;
}

.btn-news {
  background: $primary-color;
  color: white;
  border: none;
}

.or {
  font-size: x-large;
  padding-left: 10px;
  @media (max-width: 992px) {
    padding-top: 10px;
    padding-left: 0;
  }
}

.form-group {
  padding-left: 0;
}