/*********  CONTACT PAGE  *********/

@import "modules/all";

#contact-main-container{
/*  background: url('../img/art-boston.jpg') no-repeat;
  background-size: cover;*/
  background-color: $background-color;
  min-height: 90vh;
}

.contact-title, .contact-subtitle, .contact-email, .contact-details, .contact-alerts {
  text-align: center;
}

.contact-subtitle {
  color: $muted-text-color;
  margin-bottom: $spacing-unit / 2;
}

.contact-email {
  color: $muted-text-color;
}

.contact-container {
  max-width: 350px;
  margin: 0 auto;
  padding-top: $spacing-unit;
  height: 100%;
}

.control-label {
  font-weight: bold;
}