/*********  FAQ PAGE  *********/
@import "modules/all";

body {
  background-color: $background-color;
}

.faq-container {
  margin-top: 40px;
}

.faq-list {
  list-style: none;
  padding-left: 2px;
  li a {
    color: $primary-color;
  }
}