@charset "utf-8";
/* CSS Document */
/* (c) Stuvi LLC 2015
* Used for the home page styling.*/

@import "modules/all";

body{
  backgroud-color: $background-color;
}

/* NAVIGATION */

#nav {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.logo-container {
  width: 120px;
  height: 48px;
  img {
    width: 100%;
    height: auto;
  }
}

#nav-left li a {
  color: white;
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
  }
}

#nav-right li a {
  color: white;
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
  }
}

#nav-dropdown {
  li {
    a {
      color: #333333;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* TOP HALF IMAGE */

/*Top background*/
.backgnd {

  /*****************
  * Temp cover image...(c)Nicholas Louie All Rights Reserved. I Nicholas Louie, hereby allow a limited license
  * to display this image on Stuvi's website with proper name and link credit. This photo may not be distributed, used
  * or altered (except sizing/cropping) in any other way other than on the homepage
  * Photo by Nick Louie. Link: https://flic.kr/p/kSKWtK
  ******************/

  background: #{$background-color} url("../img/cover-2-1.png") no-repeat center;
  background-size: cover;                         /* Fill entire container */
  height: 80vh;     /* Height is equal to 80% of the viewport height */
  @media (max-width: 767px){
    padding-bottom: 0%;
  }
}

#head1{
  color: whitesmoke;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  font-family: $base-font-family;
  padding-top: 3%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.tagline{
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-weight: 400;
}

.top-content{
  padding-top: 5%;
}

/*****
  * GHOST BUTTONS
  *      Login, sign in
  *
  ***/

.ghost-btn-container {
  text-align: center;
  padding-top: 1%;
  @media (max-width: 767px){
    margin-bottom: 35px;
  }
  @media (max-width: 399px) {
    margin-bottom: 0;
  }
}

.ghost-btn {
  width: 150px;
  height: 50px;
  border-radius: 0;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  border: 3px solid white;
  background: none;
  margin: 0 20px 0;
  padding-top: 9px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  &:hover{
    background-color: rgba(0, 164, 150, 0.6);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }
  &:focus{
    outline: 0 !important;
    color: #FFFFFF;
  }
  @media (max-width: 767px){
    margin: 0 8px 0;
  }
  @media (max-width: 399px) {
    margin-bottom: 15px;
  }
}


/* SEARCH BAR */

#home-search-container{
  padding: 0;
  position: absolute;
  bottom: 20%;
  width: 100vw;
}

#home-search-form{
  background-color: rgba(0,0,0,.6);
  padding-top: 1%;
  padding-bottom: 2%;
  width: 100%;
}

.search-row {
  padding: 0;
  margin-left: 16%;
  @media (max-width: 535px) {
    margin-left: 11%;
  }
}

.search-input {
  background-color: rgba(255, 255, 255, 1);
  height: 3em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  &:focus {
    border: 2px solid $primary-color;
    border-right: none;
    box-shadow: none;
  }
}

.search-btn {
  height: 3em;
  margin-right: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: $primary-color;
  border: none;
  &:hover {
    background: $primary-color;
  }
  &:focus {
    outline: 0 !important;
    background: $primary-color;
  }
  @media (max-width: 535px) {
    margin: 0;
  }
}

.search-icon {
  font-size: 1.2em;
  color: white;
}




/******** BOTTOM HALF ********/

#bottom-half {
  padding: 0;
}

.services {
  background-color: $primary-color;
  text-align: center;
  color: white;
  h4{
    font-weight: 900;
  }
}

.service-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

#bottom-half {
  background-color: $background-color;
}

#img-info-1{
  padding: 30px;
}

.service {
  margin-bottom: 30px;
  a {
    color: white;
  }
}
