@charset "utf-8";
/* CSS Document */
/* (c) Stuvi LLC 2015
* Used for the home page styling.*/

@import "modules/all";

#container-home-top{
  padding: 0;
  position: relative;
  @media(max-width: 767px){
    background: url('../img/nick/nlouie1.jpg') no-repeat;
    background-size: cover;
  }
}


/* NAVIGATION */

#nav {
  background-color: $transparent;
  border: none;
  @media(max-width: 767px){
    background-color: $background-color;
  }
}

#navbar-container{
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  @media(max-width: 767px){
    position: relative;
  }
}

.logo-container {
  width: 120px;
  height: 48px;
  img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

#nav-left {
  @media(max-width: 767px){
    text-align: center !important;
  }
  li a {
    color: white;
    &:hover, &:focus {
      background-color: $transparent;
      outline: 0;
    }
    @media(max-width: 767px){
      color: black;
      &:hover, &:focus{
        color: $primary-color;
      }
    }
  }
}


#nav-right {
  li a {
    //color: white;
    &:hover, &:focus {
      background-color: $transparent;
      outline: 0;
      color: white;
    }
    @media(max-width: 767px){
      color: black;
      &:hover, &:focus{
        color: $primary-color;
      }
    }
    @media(max-width: 767px){
      text-align: center !important;
    }
  }
}


#nav-dropdown {
  li {
    a {
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* NAVIGATION HAMBURGER MENU */

#xs-screen-logo-link{
  position: absolute;
  left:0;
  @media(min-width: 767px){
    visibility: hidden;
  }
}

#xs-screen-logo-img{
  height: 50px;
  width: auto;
}


#nav-toggle-collapse {
  border: none;
  z-index: 50;
  margin-left: 10px;
  &:hover, &:focus {
    background: none;
  }
  .fa-bars {
    color: $primary-color;
    font-size: 1.5em;
  }
}


/* SLIDE.JS */

#slides {
  display:none;
  position: relative;
  z-index: 0;
  @media(max-width: 767px){
    visibility: hidden;
  }
}

/* Center the slideshow */
/* Media queries for a responsive layout */
.slide-container {
  margin: 0 0 0 0;
  z-index: 0;
  position: relative;
}

/* TOP HALF IMAGE */

#head-tag-ghost-container{
  position: absolute;
  z-index: 9;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  text-shadow: $text-shadow;
  @media(max-width: 991px){
    margin-top: 30px;
  }
  @media(max-width: 767px){
    z-index: 0;
    margin-top: 10px;
  }
}

#head1{
  color: whitesmoke;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  font-family: $base-font-family;
  padding-top: 3%;
  @media(min-width: 2500px){
    font-size: 10em;
  }

  @media(max-width: 767px){
    font-size: 3em;
  }
  @media(max-width: 359px){
    font-size: 2em;
  }
}

.tagline{
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
  font-weight: 400;
  @media(min-width: 2500px){
    font-size: 3em;
  }

  @media(max-width: 359px){
  font-size: 1em;
  }
}

/*****
  * GHOST BUTTONS
  *      Login, sign in
  *
  ***/

.ghost-btn-container {

  text-align: center;
  padding-top: 1%;
  @media (max-width: 767px){
    visibility: hidden;
  }
}

.ghost-btn {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  border: 3px solid white;
  background: none;
  margin: 0 20px 0;
  padding-top: 9px;
  text-shadow: $text-shadow;
  &:hover{
    background-color: rgba(0, 164, 150, 0.6);
    color: white;
    text-shadow: $text-shadow;
  }
  &:focus{
    outline: 0 !important;
    color: white;
  }
  @media(min-width: 2500px) {
    width: 300px;
    height: 100px;
    font-size: 3em;
    padding-top: 15px;
  }
  @media (max-width: 767px){
    margin: 0 8px 0;
  }
  @media (max-width: 399px) {
    margin-bottom: 15px;
  }
}


/* SEARCH BAR */

#home-search-container{
  background-color: rgba(0,0,0,.6);
  padding-top: 2%;
  padding-bottom: 2%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  @media(max-width: 767px){
    padding-top: 0;
    position: relative;
  }

  @media(max-width: 360px){
    position: relative;
    visibility: hidden;
    background-color: $transparent;
  }
}

.xs-guest-search-bar{
  padding: 0 15px 0 15px;
}

@import "partials/autocomplete";
@import "sections/searchbar";

/******** BOTTOM HALF ********/


#bottom-half {
  background-color: white;
  padding: 0;
}


.stuvi-container{
  @media(min-width: 2500px){
    padding-left: 400px;
  }
}

#info1{
  @media(min-width: 2500px){
    font-size: 2em;
  }
}


#img-info-1{
  padding: 30px;
  @media(max-width: 767px){
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.service {
  margin-bottom: 30px;
  a {
    color: white;
  }
}

/******** HOME TEXTBOOK SECTION ********/

#home-textbook-title {
  margin-left: 50px;
  margin-bottom: 30px;
  @media(max-width: 767px){
    margin-left: 0;
    text-align: center;
  }
}

.textbook-row {
  text-align: center;
  .home-textbook {
    margin-bottom: 40px;
    .textbook-img {
      width: 175px;
      height: 233px;
    }
  }
}

// login/signup modal
@import "sections/login-signup-modal";