/*
 * This is the Stuvi default styling. It comes _AFTER_ Bootstrap's app.css
 * This file is compiled to main.css which is then linked in head.blade.php
 * Thus, every page will have this styling.
 * http://thesassway.com/beginner/how-to-structure-a-sass-project
 */

/* MODULES AND VARIABLES */
@import 'modules/all';

/* PARTIALS */
@import 'partials/buttons';
@import 'partials/containers';
@import 'partials/forms';
@import 'partials/tables';
@import 'partials/modals';

/* SECTIONS */
@import 'sections/navigation';
@import 'sections/footer';
@import 'sections/login-signup-modal';
@import 'sections/flash-mesage';
@import 'sections/loader';


/* Common classes */
body {
  font-family: $base-font-family;
  background: $background-color;
  color: $body-text-color;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $background-grey;
}

.price {
  color: $price-color;
}

/* Bootstrap Override */
a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    outline: none;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $primary-color;
}