/******* CHECKOUT PAGE *******/

@import "modules/all";
@import "sections/cart-progress";

.back-row {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 700px; /* Prevents going out of container*/
}

#back-to-cart {
  text-align: left;
}

.fa-arrow-circle-left {
  padding-right: 5px;
}

.checkout-container{
  overflow-x: scroll;
}

.cart-line {
  max-width: 50%;
  @media(max-width: 767px) {
    max-width: 70%;
  }
}

#checkout-title {
  text-align: center;
  padding-top: 80px;
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

/**** SHIPPING ADDRESS ****/
#storeAddress {
  padding: 12px;
  width: 200px;
  margin: 20px 0 50px 15px;
}

// .address-panel {
//   box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.25);
//   border-top: 2px solid $primary-color;
//   border-radius: 0;
//   margin-left: 33px;
// }

.address-list {
  list-style-type: none;
  padding-left: 0;
}

.address-btn {
  margin-right: 5px;
}

.add_new_address {
  display: none;
}

.displayDefaultAddress{
  height: 100%;
  width: 50%;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 5px;
  border: 1px solid #DDDDDD;
  .address_id {
    display: none;
  }
}

.displayAllAddresses{
  @extend .displayDefaultAddress;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .address_id {
    display: none;
  }
  &:hover{
    -moz-box-shadow: 5px 0 5px $primary-color;
    -webkit-box-shadow: 5px 0 5px $primary-color;
    box-shadow: 0 0 5px $primary-color;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 5px;
    border: 1px solid $primary-color;
  }
}

#new-address-panel {
  @extend .displayAllAddresses;
  text-align: center;
  display: none;
}

.fa-plus-square {
  cursor: pointer;
  color: $primary-color;
  width: 48px;
  height: 48px;
  margin-top: 25px;
}

.close-btn {
  &:focus {
    outline: 0 !important;
  }
}

.inline {
  display: inline;
}

.form-space-offset {
  margin-bottom: 10px;
}

.address-form-body {
  padding-top: 0;
  padding-bottom: 30px;
}

#update-loading {
  position: absolute;
  right: 60px;
  bottom: 18px;
  color: $secondary-color;
}

#add-loading {
  position: absolute;
  right: 50px;
  bottom: 18px;
  color: $secondary-color;
}

/**** PAYMENT ****/
.payment-method-tabs{
  border: 1px solid #ddd;
  border-top-color: $background-color;
  border-radius: 0 0 10px 10px;
}

.payment-card-container {
  margin: $spacing-unit auto;
  max-width: 320px;
}

.card-wrapper {
  width: 100%;
}

#form-payment {
  margin-top: $spacing-unit;

  input {
    text-align: center;
  }
}

.payment-errors {
  color: red;
  font-weight: bold;
  font-size: medium;
}

.payment-errors-row {
  margin-left: 15px;
  margin-bottom: 10px;
}

.paypal-content {
  margin: $spacing-unit;
}
