/*http://homestead.app/order/buyer/#*/
/*http://homestead.app/order/seller/#*/
/* CSS For both showSellerOrder and showBuyerOrder
 *
 * Page is accessed when viewing more details of an order
 */
@import "modules/all";

body {
  background-color: $background-color;
}

.alert-sucess-container {
  padding-left: 0;
}

.back-row {
  margin-top: 20px;
}

.back-to-order {
  margin-left: 25px;
  text-align: left;
  cursor: pointer;
}


/* entire container for the content */
/* This prevents showing white space below the footer */
.show-order-container {
  /*height: 70vh;*/
  /* BUG */
}

/* Ordered on, order #, order canceled */
#details1 {
  font-weight: bold;
}

/* outline is basically like border
 * Only used in showbuyerorder
 */

/* Bulk of the details */
.box {
  border: 1px solid $primary-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  overflow-y: auto;
}

.row-title {
  background-color: $primary-color;
  margin-bottom: 20px;
  color: white;
  h3 {
    margin-bottom: 20px;
  }
}

hr {
  border-color: black;
}
/*
/!* Cancel order button *!/
.btn-orange {
  background: #F16521;
  color: #FFFFFF;
  border: none;
  padding: 7px 10px;
}

.btn-orange:hover,
.btn-orange:focus {
  outline: 0 !important;
  color: #FFFFFF;
}*/

/* Header when order is canceled */
#cancelled {
  color: red;
}

/* showBuyerOrder only*/

/* "Order Details" */
#h1-showBuy {
  margin-left: -17px;
}


/* Pickup Button */

.pickup-btn {
  background: #7AB4DE;
  color: #FFFFFF;
  box-shadow: 0 5px #5B86AA;
  border: none;
  &:hover, &:focus {
    background: #7AB4DE;
    outline: 0;
    color: #FFFFFF;
  }
  &:active {
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
  }
}

#cal-icon {
  padding-top: 4px;
  padding-bottom: 4px;
  &:hover {
    color: #6d9fe8;
    cursor: pointer;
  }
}

.sm-img {
  max-width: 100px;
}

/* BUYER SHOW */

.item {
  margin-bottom: 20px;
}

.price {
  color: $price-color;
}


/* Seller Address */

.seller-address {
  /*border: 1px solid #eee;*/
  display: inline-block;
  /*margin: 20px;*/
  padding: 0;
  a {
    min-width: 30%;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.seller-address-book {
  display: none;
}


#seller-address-book-box{
  padding: 10px;
}