/******* BUYER ORDER CONFIRMATION PAGE *******/
@import "modules/all";

body {
  background-color: $background-color;
}

.cart-line {
  max-width: 50%;
  @media(max-width: 767px) {
    max-width: 70%;
  }
}

.confirmation-container {
  margin-bottom: 200px;
  min-height: 90vh;
}