/******* CHECKOUT PAGE *******/

@import "modules/all";
@import "partials/forms";

#message {
  font-style: italic;
}

#message-cont {
  padding: 2%;
}

body {
  background-color: $background-color;
}

.back-row {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 700px; /* Prevents going out of container*/
}

#back-to-cart {
  text-align: left;
}

.fa-arrow-circle-left {
  padding-right: 5px;
}

.cart-line {
  max-width: 50%;
  @media(max-width: 767px) {
    max-width: 70%;
  }
}

#checkout-title {
  text-align: center;
  padding-top: 80px;
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

/**** SHIPPING ADDRESS ****/

#storeAddress {
  padding: 12px;
  width: 200px;
  margin: 20px 0 50px 15px;
}

.address-panel {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-top: 2px solid $primary-color;
  border-radius: 0;
  margin-left: 33px;
}

.address-list {
  list-style-type: none;
  padding-left: 0;
}

.address-btn {
  margin-right: 5px;
}

.add_new_address {
  display: none;
}

.displayAllAddresses {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 0;
  height: 175px;
  width: 324px;
  display: none;
  .address_id {
    display: none;
  }
}

/* make the user's id invisible */
.displayDefaultAddress .address_id {
  display: none;
}

#new-address-panel {
  text-align: center;
  margin-left: 5px;
  display: none;
  height: 175px;
  width: 324px;
  h4 {
    margin-bottom: 0;
  }
}

.fa-plus-square {
  cursor: pointer;
  color: $primary-color;
  width: 48px;
  height: 48px;
  margin-bottom: 48px;
}

.close-btn {
  &:focus {
    outline: 0 !important;
  }
}

.inline {
  display: inline;
}

.form-space-offset {
  margin-bottom: 10px;
}

.address-form-body {
  padding-top: 0;
  padding-bottom: 30px;
}

/**** PAYMENT ****/

.stripe-container {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
}

.card-wrapper {
  width: 100%;
  margin: 30px auto;
}

#form-payment input {
  text-align: center;
}

.payment-errors {
  color: red;
  font-weight: bold;
  font-size: medium;
}

.payment-errors-row {
  margin-left: 15px;
  margin-bottom: 10px;
}

