/******* This CSS page used for both buyer order index and seller order index
         Find them at order/buyer/index and order/seller/index
 *******/

@import "modules/all";

h1 {
  margin-left: -15px;
}

/* Under nav bar. "Look for seller orders? */
.link-to-seller {
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-right: 0; /* Need this or else it goes off screen*/
}

/* Go back link container. Found in sellerOrderIndex */
.back-row {
  margin-top: 7px;
  margin-right: 0; /* Need this or else it goes off screen*/
}

/* Go Back link Found in sellerOrderIndex */
#go-back {
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
}

/* Found at order/buyer (order/index) */
#or-go-back {
  cursor: pointer;
}


body {
  background-color: #F2F2F2;
}

/* Prevent white space below footer */
.buyer-order-container {
  min-height: 500px;
}

.seller-order-container {
  min-height: 500px;
}

/* border around each order */
.order-container {
  border: 1px solid $primary-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  margin-bottom: 30px;
}

.order-number {
  @media (min-width: 1200px) {
    padding-left: 4%;
  }
}

#show-order-link {
  color: rgba(255, 255, 255, 0.9);
}

.order-row {
  //background-color: rgba(0, 0, 0, 0.09);
  background-color: $primary-color;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}

.book-row {
  padding: 10px 0;
}

.book-row-empty {
  padding: 10px 15px;
}

.book-img {
  max-width: 100px;
  margin: 10px;
}

.lg-img {
  max-width: 100px;
}

.book-info {
  padding-left: 25px;
  h3 {
    margin-top: 10px;
  }
}

.book-price {
  color: #b61f17;
}

/* Canceled order header color */
#cancelled {
  h3 {
    color: red;
  }
}

/* If no orders, then make the container fill __% of the viewport height */
.empty {
  height: 80vh;
}
