/***** SELLER PRODUCT CREATE PAGE *****/
@import "modules/all";

body {
  background-color: $background-color;
}

.create-container {
  margin-bottom: 50px;
}

/*** TEXTBOOK INFO ***/

.textbook-row {
  margin-top: 50px;
}

#textbook-img {
  width: 300px;
  height: 400px;
  span {
    font-size: 18px;
  }
}

.authors-container {
  margin-bottom: 10px;
}

.author-btn {
  &:hover, &:focus {
    background-color: $primary-color;
    color: white;
    outline: 0 !important;
  }
}

.textbook-info {
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

#price-input {
  width: 200px;
}

/*** PRODUCT CONDITION ***/

.condition-btn {
  background-color: white;
  border: 1px solid $border-color;
  &:hover, &:focus {
    background-color: $accent-color;
    color: white;
  }
  &.active {
    background-color: $primary-color;
    color: white;
    box-shadow: none;
  }
}

.fa-question-circle {
  color: $accent-color;
  cursor: pointer;
}

.btn-add-input {
  margin-bottom: 20px;
}

#price-input{
  width: 50%;
}

/** FILE UPLOAD **/

.upload-file {
  margin-bottom: 10px;
}

.upload-error-message {
  display: none;
  color: red;
  font-weight: bold;
}

/** POST BOOK BUTTON **/

.sell-btn {
  display: block;
  width: 200px;
  padding: 12px;
  font-size: 16px;

}