/* product/show.blade.php */

@import "modules/all";

/** BUTTONS ON THE TOP-RIGHT CORNER **/
.actions {
  a {
    display: inline-block;
  }

  form {
    display: inline-block;
    margin: 0;
  }
}

/** SLICK SLIDER **/
.slick-slide {
  max-height: 400px;
  outline: none;

  img {
    max-height: 400px;
    margin: 0 auto;
  }
}

.slick-prev, .slick-next {
  &:before {
    color: $background-grey;
  }
}

.fa-question-circle {
  color: $accent-color;
  cursor: pointer;
}
