/***** SELLER PRODUCT CREATE PAGE *****/
@import "modules/all";

.create-container {
  margin-bottom: 50px;
}

#login-signup-container{
  @media(min-width: 796px ){
    padding-top: 80px;
  }
}

/*** TEXTBOOK INFO ***/

.textbook-row {
  margin-top: 50px;
}

//#textbook-img {
//  width: 300px;
//  height: 400px;
//  span {
//    font-size: 18px;
//  }
//}

.authors-container {
  margin-bottom: 10px;
}

.author-btn {
  &:hover, &:focus {
    background-color: $primary-color;
    color: white;
    outline: 0 !important;
  }
}

.textbook-info {
}

#price-input {
  width: 200px;
}

/*** PRODUCT CONDITION ***/

.condition-btn {
  background-color: white;
  border: 1px solid $border-color;
  &:hover, &.active {
    background-color: $primary-color;
    color: white;
    box-shadow: none;
  }
}

.fa-question-circle {
  color: $accent-color;
  cursor: pointer;
}

.btn-add-input {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: $primary-color;
  color: white;
}

#price-input{
   width: 50%;
 }

/** FILE UPLOAD **/

#form-product {
  border: none;
  background: none;
}

.upload-file {
  margin-bottom: 10px;
}

.upload-error-message {
  display: none;
  color: red;
  font-weight: bold;
}

#dropzone-img-preview {
  border: 2px dashed $primary-color;
  background: white;
  border-radius: 5px;
  padding: $spacing-unit / 2;
}

.dz-image img {
  width: 100%;
}

.dz-clickable {
  cursor: pointer;
}

.dz-unclickable {
  cursor: default;
}

.dz-error-message{
  top: 150px !important;
}

/** POST BOOK BUTTON **/

.sell-btn {
  display: block;
  width: 200px;
  padding: 12px;
  font-size: 16px;

}