/******* TEXTBOOK SEARCH LIST PAGE *******/
/* Used for list.blade.php*/

@import "modules/all";
@import "partials/autocomplete";
@import "sections/searchbar";

/* TOP SECTION */

/* Header */
#search-term{
  font-size: 2em;
  @media(min-width: 970px){
    padding-left: 4%;
  }
}


/** TEXTBOOK SEARCH LIST **/

.textbook-list-container {
  background-color: $background-color;
  h1 {
    margin-left: 30px;
  }
}

/** TEXTBOOK LIST HEADER **/

.textbook-list-header {
  width: 100%;
  height: 30px;
}

.textbook-list-title {
  display: inline;
  float: left;
}

.textbook-list-results {
  display: inline;
  float: right;
  margin-top: $spacing-unit;
}

/* TEXTBOOK LIST */
.textbook-img-container {
  width: 100px;
}

.textbook-img {
  width: 100px;
  height: 135px;
}

.textbook-list {
  max-width: 800px;
}

.textbook-table {
  width: 100%;
  /* white space bottom fix */
  height: 70vh;
}

.textbook-item {
  font-size: small
}

.textbook-info-1 {
  width: 350px;
}

.table-offset {
  width: 200px;
}

.textbook-title {
  font-size: medium;
  font-weight: bold;
}

.textbook-pub-date {
  font-size: medium;
}

.textbook-low-price, .textbook-high-price {
  color: $price-color;
  font-weight: 500;
}

@media (max-width: 970px) {
  .home {
    max-width: 500px;
  }

  .textbook-list {
    max-width: 650px;
  }

  #details, #textbook {
    text-align: center;
  }
}

#pagination {
  text-align: center;
  .active {
    span {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  li {
    a {
      color: $primary-color;
    }
  }
}
