/* STYLING FOR TEXTBOOK PAGE ***/

/* pages: /order/buy/ and /order/sell */

@import "modules/all";
@import "sections/searchbar";
@import "partials/autocomplete";


/******* TEXTBOOK NAVIGATION BAR ******/

.tab-filter-container {
  width: 100%;
  background: $primary-color;
  height: 40px;
  @media(max-width: 320px){
    height: 80px;
  }
}

.tab-filters {
  list-style-type: none;
  text-align: center;
  padding-right: 40px;

}

.filter {
  display: inline-block;
  height: 40px;
  padding-top: 5px;

}

// this can't be placed above in the .filter styles
.filter.active {
  border-bottom: 5px solid white;
  @media(max-width: 320px){
    border-bottom: 3px solid white;
  }
}

.filter-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 40px;
}

// this can't be placed above in the .filter-link styles
.filter-link:hover,
.filter-link:focus,
.filter-link.active {
  text-decoration: none;
  color: white;
}

/******* TEXTBOOK SEARCH AREA ******/

#title {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-shadow: $text-shadow;
}

.container-image {
  background: rgba(0, 0, 0, 0.3) url('../img/open-book.jpg') no-repeat center top;
  background-size: cover;
  height: 350px;

  .container {
    margin-top: $spacing-unit * 3;
    max-width: 900px;
  }
}

/******  TEXTBOOK BOTTOM HALF ****/

.textbook-intro {
  margin: $spacing-unit 0;
  font-weight: 300;
  line-height: 26px;

  .container {
    max-width: 900px;

    .row {
      padding: $spacing-unit 0;
    }
  }

  p {
    font-size: 16px;
    letter-spacing: $extra-letter-spacing;
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}