/****** TEXTBOOK SHOW PAGE

   This page lists all the textbook variants available.
/textbook/buy/<ID #>

******/
@import "modules/all";

body {
  background-color: $background-color;
}

.empty {
  min-height: 90vh;
}

#message-cont {
  padding: 10px 0 10px 0;
}

#message{
  padding: 10px;
}

/*** TEXTBOOK INFO ***/

.textbook-row {
  margin-top: 50px;
}

#textbook-img {
  width: 300px;
  height: 400px;
  margin-left: 50px;
}

.textbook-info {
  span {
    font-size: 18px;
  }
}

.authors-container {
  margin-bottom: 10px;
}

.author-label {
  background-color: $primary-color;
  color: white;
  border: none;
}

.author-btn {
  &:hover, &:focus {
    background-color: $primary-color;
    color: white;
    outline: 0 !important;
  }
}

.textbook-info {
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

/*** TEXTBOOK TABLE ***/

.table-row {
  margin-top: 40px;
  #h4-1, #book-options-links{
    @media(max-width: 767px){
      padding-left: 10px;
    }
  }
}

.textbook-table {
  background-color: white;
  border: solid #DDD;
  @media(max-width: 767px){
    max-width: 90vw;
    margin-left: 3%;
  }
}

#price {
  color: $price-color;
}

/** PRESSED BUTTON **/

.add-cart-btn {
  margin-left: 13px;
}

.cart-btn-col {
  width: 150px;
  @media (max-width: 500px) {
    width: 90px;
  }
}

.sell-btn {
  @media (max-width: 500px) {
    width: 40px;
  }
}