/* CSS Page for create.blade.php
 */

@import "modules/all";

.pad {
  padding: 2%;
}

/* BACKGROUND */
.create {
  background-color: #F2F2F2;
}

/* Title */
#create-title {
  color: #000000;
  margin-left: 38px;
}

/***** CREATE FORM *****/

/* ISBN...Title..etc*/
b {
  color: #757575;
}

/* Color some text in .form-group */
.ws {
  color: #757575;
}

/* Box around all the forms*/
.textbook-create {
  padding: 5%;
}

#lang {
  color: black;
}

.lang-select {
  color: black;
}

#create-btn {
  width: 200px;
  padding: 12px;
}

/** File upload error messages **/

.upload-error-message {
  display: none;
  color: red;
  font-weight: bold;
}