/** TEXTBOOK NAVIGATION BAR **/

@import "modules/all";

.tab-filter-container {
  width: 100%;
  background: $primary-color;
  height: 40px;
}

.tab-filters {
  list-style-type: none;
  text-align: center;
  padding-right: 40px;
}

.filter {
  display: inline-block;
  height: 40px;
  padding-top: 5px;
}

// this can't be placed above in the .filter styles
.filter.active {
  border-bottom: 5px solid white;
}

.filter-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 40px;
}

// this can't be placed above in the .filter-link styles
.filter-link:hover,
.filter-link:focus,
.filter-link.active {
  text-decoration: none;
  color: white;
}

