/* STYLING FOR TEXTBOOK PAGE ***/
@import "modules/all";
@import "partials/autocomplete";

/******* TEXTBOOK NAVIGATION BAR ******/

.tab-filter-container {
  width: 100%;
  background: $primary-color;
  height: 40px;
}

.tab-filters {
  list-style-type: none;
  text-align: center;
  padding-right: 40px;
}

.filter {
  display: inline-block;
  height: 40px;
  padding-top: 5px;
}

// this can't be placed above in the .filter styles
.filter.active {
  border-bottom: 5px solid white;
}

.filter-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 40px;
}

// this can't be placed above in the .filter-link styles
.filter-link:hover,
.filter-link:focus,
.filter-link.active {
  text-decoration: none;
  color: white;
}

/******* ERROR MESSAGE ******/

#message {
  font-style: italic;
}

#message-cont {
  padding: 1%;
}

/******* TEXTBOOK SEARCH AREA ******/

#title {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.search {
  background: rgba(0, 0, 0, 0.3) url('../img/open-book.jpg') no-repeat;
  background-size: cover;
  padding: 60px;
}

.search-row {
  //padding: 0;
  //margin-left: 16%;
  //@media (max-width: 535px) {
  //  margin-left: 11%;
  //}
  text-align: center;
  vertical-align: middle;
}

.search-input-wrapper {
  display: inline-block;
}

.search-input {
  background-color: $background-color;
  height: 3em;
  &:focus {
    border: 2px solid $primary-color;
    box-shadow: none;
  }
}

.search-input-query {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 600px;
}

#container-fluid-search-sell{
  padding-bottom: 45px;
}

.search-btn {
  height: 3em;
  margin-right: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: $primary-color;
  border: none;
  &:hover {
    background: $primary-color;
  }
  &:focus {
    outline: 0 !important;
    background: $primary-color;
  }
  @media (max-width: 535px) {
    margin: 0;
  }
}

.search-icon {
  font-size: 1.2em;
  color: white;
}

/******  TEXTBOOK BOTTOM HALF ****/

#textbook-bottom {
  background-color: $background-color;
}

#hr1 {
  border-color: rgba(0, 0, 0, .64);
}

.row {
  padding: 3%;
}

.row-b {
  padding: 1% 0 2% 0;
}

#shrink-xs {
  @media(max-width: 767px) {
    text-align: center;
    margin: 0;
    padding-bottom: 0;
  }
}

.textbook-bottom-img {
  width: 250px;
  height: 250px;
}

#truck-img {
  width: 300px;
  height: 168px;
}

.google-img {
  font-size: 17em;
  color: $primary-color;
}

