/* CSS FOR EDITING YOUR PROFILE */

@import "modules/all";
@import "sections/user/user-profile";

#bio{
  max-width: 500px;
  max-height: 300px;
}

.edit-pro-labels{

}

.profile-content{
  min-height: 900px !important;
}

.edit-pro{
  max-width: 700px;
}

.edit {
  margin: 0 !important;
  max-height: 0;
}

.profile-usermenu{
  margin-top: 0 !important;
}

.align{
  padding-top:6px;
}

label{
  text-align:left !important;
}

.form-control:focus {
  border: 2px solid #{$secondary-color};
  box-shadow: none !important;
}

#save-info-btn {
  color: $button-text-color;
  background-color: $secondary-color;
  border: none;
  box-shadow: 0 5px #5B86AA;
  width: 150px;
  outline: 0;
  &:active{
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
  }
}
