/* CSS for waitForActivation.blade.php */

@import "modules/all";

.container-main{

  height: 90vh;
  background-image: url('../img/activation(2).jpg');
  background-size: cover;
}

.container-content{
  padding: 1%;
  color: #ffffff;
  margin-top: 5%;
  /* background-color: rgba(115, 115, 115, 0.6);*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  a {
    color: #44c1ff;
  }
  code {
    text-shadow: 0 0 0;
  }
}
