/*  CSS FOR account.blade.php */

@import 'modules/colors';

.quick-links,
.account-edit{
  padding-right: 0%;
  max-width: 700px;
}

.control-label {
  text-align: left !important;
}

/****** EDIT INFO ******/

.form-control:focus {
  border: 2px solid $secondary-color;
  box-shadow: none;
}

#save-info-btn {
  color: $button-text-color;
  background-color: $secondary-color;
  border: none;
  box-shadow: 0 5px $accent-color;
  width: 150px;
  outline: 0;
  &:active{
    box-shadow: 0 2px $accent-color;
    transform: translateY(5px);
  }
}
