/*********  ABOUT PAGE  *********/


.about-background {
    background-image: url("../img/stuvi.jpeg") ;
    background-size: cover;                         /* Fill entire container */
    background-repeat: no-repeat;
    background-position: center;

}

#about-jumbotron {
    background-color: rgba(0,0,0,0);
}

#about-title {
    margin-top: 25%;
    margin-bottom: 20%;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.about-stuvi {
    margin-top: 50px;
}

.team {
    margin-top: 75px;
}

.team-container {
    margin: 0 10px;
}

.team-grid {
    margin: 50px auto 20px;
    padding-left: 4%;
}

@media (min-width: 1080px) {
    .team-grid {
        padding-left: 7%;
    }
}

.team-grid > div {
    margin-bottom: 30px;
}