/*  CSS FOR account.blade.php */


.edit{
    text-align: center;
    margin: 2%;

}


hr{
    margin: 1%;
    margin-left: 0%;
    border-color: rgba(0, 0, 0, 0.64);
    border-width: 1px 0px 0px;
    max-width: 770px;
}

@media (max-width: 900px){
    hr{
        max-width: 600px;
    }
    .nav,
     h1  {
        text-align: center;
    }


}


