/*  CSS FOR account.blade.php* /

/* Remove padding inherited from container-fluid (app.css) */
.pad {
    padding: 0%;
}

#accJumbotron {
    background-color: whitesmoke;
}

.bg {
    background-color: #E7E6E6;
}

