/* CSS for /cart/index.blade.php */



#message {
    font-style: italic;
}

#message-cont {
    padding: 1%;
    margin-top: 10px;
}

body {
    background-color: #F2F2F2 !important;
}

.back-row {
    margin-left: 25px !important;
    margin-top: 10px !important;
    max-width: 700px;
}

#back-to-cart {
    text-align: left;
}


.fa-arrow-circle-left {
    padding-right: 5px;
}

/* Cart progress bar */
.cart-progress{
    /*background-image: url('../img/CART.png');*/

}
.cart-line{
    max-width: 50% !important;
}
@media(max-width: 767px){
    .cart-line{
        max-width: 70% !important;
    }
}


.shopping-cart{
    min-height: 500px;

}

.cart-table{
    background-color: white;
    border: solid;
    border-color: #DDD;
}

.row-cart-bottom{

}

.subtotal{
    border-top: hidden;
    background-color: white;
}

.coupon-form{
    margin-bottom: 0%;
}

.cart-button {
    background: #F16521;
    color: #FFFFFF;
    border: none;
}

.cart-button:hover,
.cart-button:focus {
    background: #F16521;
    color: #FFFFFF;
}

.btn-checkout {
    background: #7AB4DE;
    color: #FFFFFF;
    border: none;
    width: 100%;
    box-shadow: 0 5px #5B86AA;
}

.btn-checkout:active {
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
}


.btn-close > a :focus{
    color: #0044cc;
}