/* Coming soon page */

.background{
    background-image: url('../img/coming.jpg');
    background-size: cover;
    min-height: 90vh;
}
.jumbotron {
    margin: 10% 10%;
    background-color: rgba(153, 159, 163, 0.45);
}

h1{
    margin-left: -5px;
}

.btn-news{
    background: #F16521;
    color: #FFFFFF;
    border: none;
}

.or{
    font-size: x-large;
    padding-left:10px;
}

.form-group{
    padding-left:0;
}

@media (max-width: 992px){
    .or{
        padding-top: 10px;
        padding-left:0;
    }
}