/*********  CONTACT PAGE  *********/

.background {
    background: #E7E6E6;
}

.title-container {
    margin-left: 5%;
    margin-top: 80px;
}

/****  CONTACT FORM  ****/

.contact-form-container {
    margin-left: 5%;
    margin-bottom: 80px;

}

@media (min-width: 768px) {
    .contact-form-container {
        border-right: 1px solid #CCCCCC;
        padding-right: 5%;
    }
}

.form-control:focus {
    border: 2px solid #7AB4DE;
    box-shadow: none;
}

.contact-button {
    background: #7AB4DE;
    border-color: #6395BB;
    border-width: 0 0 3px;
    width: 20%;
    color: #FFFFFF;
}

.contact-button:focus {
    outline: 0 !important;
}

.contact-button.active {
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
    border: none !important;
}

/****  SOCIAL MEDIA LINKS  ****/

.social-container {
    text-align: center;
}

@media (max-width: 768px) {
    .social-container {
        display: none;
    }
}

.social-links a img {
    display: inline-block;
    width: 80px;
    height: 80px;

}