/* CSS Page for create.blade.php
 * Created originally by Nick 6/1/15
 */


.pad {padding: 2%;}

#message {font-style: italic;}

#message-cont {
    background-color: rgba(255, 0, 12, 0.30);
    padding: 2%;
}

/* https://flic.kr/p/iEvVHU */
/* BACKGROUND */
.create{
    /*background-image: url("../img/lib.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background-color: #F2F2F2;
}

/* Enter your textbook information */
h1  {color: black;}

/***** CREATE FORM *****/

/* ISBN...Title..etc*/
b   {
    color: #757575;
}

/* Color some text in .form-group */
.ws {
    color: #757575;
}

/* Box around all the forms*/
#textbook-create{
     padding: 5%;
 }

.form-control:focus {
    border: 3px solid #FFFFFF;
    box-shadow: none !important;

}

#lang{color: black !important;}

.lang-select{color: black !important;}

