/******* CHECKOUT PAGE *******/

body {
    background-color: #F2F2F2;
}

.back-row {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 700px; /* Prevents going out of container*/
}

#back-to-cart {
    text-align: left;
}

.fa-arrow-circle-left {
    padding-right: 5px;
}

.cart-line{
    max-width: 50% !important;
}
@media(max-width: 767px){
    .cart-line{
        max-width: 70% !important;
    }
}

#checkout-title {
    text-align: center;
    padding-top: 80px;
}

/**** CONFIRM ORDER ****/

.form-control:focus {
    border: 3px solid #7AB4DE;
    box-shadow: none !important;
}

/**** SHIPPING ADDRESS ****/


/**** PAYMENT ****/

.stripe-button-el {
    margin-bottom: 50px;
}