/*********  FAQ PAGE  *********//* Import of all modules *//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* HEADER/NAV COLORS *//*$nav-background-color: #241729;*//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 *//* BASE STYLES *//* HEADERS *//* NAVIGATION *//* BUTTONS *//* FOOTER */body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  color: #565a5c;
}
body {
  background-color: #f2f2f2;
}
.faq-container {
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 90vh;
}
.faq-list {
  list-style: none;
  padding-left: 2px;
}
.faq-list li {
  margin-bottom: 10px;
}
.faq-list li a {
  color: #00a496;
}
.qa-container h2 {
  color: #00a496;
}
.question-answer {
  margin-bottom: 40px;
}
.faq-line {
  border-color: grey;
}
