/* Footer CSS Template
   http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/

*/

.footer-distributed{
	background-color: #292c2f;
    /*background-color: #F2F2F2;*/
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	/*font: normal 16px sans-serif;*/
    font: normal 16px "Roboto", Helvetica, Arial, sans-serif;
	padding: 30px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:16px;
	/*font-weight: bold;*/
	color:  #ffffff;
    /*color: #8f9296;*/
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 0px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	/*background-color: #8f9296;*/
    background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* Additional styling */

.social:hover {
    background: #F16521 !important;
}

.footer-link:hover {
    color: #F16521 !important;
}

.divider {
    color: #FFFFFF;
}

hr {
    opacity: 0.3;
}

.hr1{
    border: 0;
    height: 2px;background: #333; background-image: linear-gradient(to right, #ccc, #f16521, #ccc);
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

