@charset "utf-8";
/* CSS Document */
/* (c) Stuvi LLC 2015
* Used for the home page styling.*/

/* All screen styling */

/*********  Classes  ************/


/*Top background*/
.backgnd {

    /*****************
    * Temp cover image...(c)Nicholas Louie All Rights Reserved. I Nicholas Louie, hereby allow a limited license
    * to display this image on Stuvi's website with proper name and link credit. This photo may not be distributed, used
    * or changed in any other way other than on the homepage
    * Photo by Nick Louie. Link: https://flic.kr/p/kSKWtK
    ******************/

    background-image: url("../img/cover.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5%;

}


/* Bottom half of home page, grid buffer */
.grid-buff {
    margin-top : 10px;
    margin-bottom: 20px;
}

/* Column buffer for smaller screen compatibility */
.col-buff {
    padding-top: 4%;
    padding-bottom: 5%;
}


/************** IDs   *************/

#head1       {font-size: xx-large;}   /* Welcome */

#p1          {font-size: medium;}     /* Jumbotron text */

#liftoff {
             text-align: right;
             font-size: small;
             font-family: Consolas, monospace;
}

#head2       {color: black;}          /* Our services */

#bottom-half {background-color: #e7e6e6;}

#services    {text-align: center;}



/* Gradient color1 - color2 - color1
https://css-tricks.com/examples/hrs/ */
#hr-style-one {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #f16521, #ccc);
}

/* Jumbotron styling. Last argument of rgba() represent opacity
 * Note that rbga does not work in ie8 and lower*/
#jumbotron1 {
    background: rgb(242, 248, 255);             /* This is for ie8 and below */
    background: rgba(242, 248, 255, 0.80);
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
/*    padding-left: 2%;
    padding-right: 2%;*/
}

/**************  NAV DROPDOWN FIX  *************/
.nav-caret {
    margin-top: 9px;
}

.nav-dropdown {
    height: 50px;
}

/************* @media SMALL SCREENS ********/

/* Shrink stuff for small screens */
@media (max-width: 767px) {

    /****** CLASSES *****/

    .backgnd        {padding-bottom: 0%;}

    /******* IDS *******/

    #head1          {font-size: medium;}
    #head2          {font-size: large;}
    #p1             {font-size: small;}
    #hr-style-one   {height: 2px;}
    #jumbotron1     {margin-top: 2%;}
    #liftoff        {font-size: x-small}


}