/* LOGIN PAGE */

html body {
    background: #36175E;
}

/* space between panel and navigation */
.vertical-center {
    margin-top: 150px;
}

#login-button {
    background: #7AB4DE;
    border: none;
}

#forgot-password {
    color: #7AB4DE;
}

#login-form {
    margin-top: 30px;
}