/* LOGIN PAGE */

html body {
    background: #241729;
}

img {
    width: 350px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

/* space between form and logo */
.vertical-center {
    margin-top: 40px;
}

#form-container {
    max-width: 500px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control:focus {
    border: 3px solid #7AB4DE;
}

/* space between login form email input and tabs */
#space-offset {
    margin-top: 20px;
}

.form-group .login-button {
    background: #7AB4DE;
    border-color: #6395BB;
    border-width: 0 0 3px;
    width: 50%;
}

#forgot-password {
    color: #7AB4DE;
}

label {
    color: #FFFFFF;
}




