/* NAVIGATION BAR */

#nav {
    background: #241729;
    border-radius: 0;
    border: none;
}

.logo-container {
    width: 120px;
    height: 48px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

/*.active-nav {*/
    /*background-color: #435C7F;*/
    /*border-bottom: solid 5px #90B4DF;*/
/*}*/