/******* BUYER ORDER CONFIRMATION PAGE *******//* Import of all modules *//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* GENERAL TEXT COLORS *//* HEADER/NAV COLORS *//*$nav-background-color: #241729;*//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 *//* BASE STYLES *//* HEADERS *//* NAVIGATION *//* BUTTONS *//* FOOTER */body {
  background-color: #f2f2f2;
}
.cart-line {
  max-width: 50%;
}
@media (max-width: 767px) {
  .cart-line {
    max-width: 70%;
  }
}
.confirmation-container {
  margin-bottom: 200px;
}
