/*http://homestead.app/order/buyer/#*//*http://homestead.app/order/seller/#*//* CSS For both showSellerOrder and showBuyerOrder
 *
 * Page is accessed when viewing more details of an order
 *//* Import of all modules *//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* GENERAL TEXT COLORS *//* HEADER/NAV COLORS *//*$nav-background-color: #241729;*//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 *//* BASE STYLES *//* HEADERS *//* NAVIGATION *//* BUTTONS *//* FOOTER */body {
  background-color: #f2f2f2;
}
/* Alert message */#message {
  font-style: italic;
}
/* Alert message container */#message-cont {
  padding-left: 0;
  margin-top: 5px;
}
.alert-sucess-container {
  padding-left: 0;
}
/* entire container for the content *//* This prevents showing white space below the footer */.show-order-container {
  /*height: 70vh;*/
  /* BUG */
}
/* Ordered on, order #, order canceled */#details1 {
  font-weight: bold;
}
/* outline is basically like border
 * Only used in showbuyerorder
 */#details2 {
  outline: 1px solid rgba(0, 0, 0, 0.30);
}
/* Bulk of the details */.box {
  /*outline: 1px solid rgba(0, 0, 0, 0.30);*/
  border: 2px solid #f9aa62;
  margin-top: 10px;
  margin-bottom: 30px;
}
.row-title {
  background-color: rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
  margin-bottom: 10px;
}
hr {
  border-color: black;
}
/* Cancel order button */.btn-orange {
  background: #f16521;
  color: #fff;
  border: none;
  padding: 7px 10px;
}
.btn-orange:hover, .btn-orange:focus {
  outline: 0 !important;
  color: #fff;
}
/* Header when order is canceled */#cancelled {
  color: red;
}
/* showBuyerOrder only*//* "Order Details" */#h1-showBuy {
  margin-left: -17px;
}
/* PICKUP TIME */.form-control:focus {
  border: 2px solid #7ab4de;
  box-shadow: none;
}
/* Address */.seller-address {
  /*border: 1px solid #eee;*/
  display: inline-block;
  /*margin: 20px;*/
  padding: 0;
}
.seller-address a {
  min-width: 30%;
}
.seller-address ul {
  list-style-type: none;
  padding: 0;
}
/* Pickup Button */.pickup-btn {
  background: #7ab4de;
  color: #fff;
  box-shadow: 0 5px #5b86aa;
  border: none;
}
.pickup-btn:hover, .pickup-btn:focus {
  background: #7ab4de;
  outline: 0;
  color: #fff;
}
.pickup-btn:active {
  box-shadow: 0 2px #5b86aa;
  transform: translateY(5px);
}
#cal-icon {
  padding-top: 4px;
  padding-bottom: 4px;
}
#cal-icon:hover {
  color: #6d9fe8;
  cursor: pointer;
}
