/*  CSS FOR profile.blade.php */


/* User side bar */

.edit{
    text-align: center;
    margin: 2%;

}



.hr{
    margin: 1%;
    margin-left: 0%;
    border-color: rgba(0, 0, 0, 0.64);
    border-width: 1px 0px 0px;
    max-width: 770px;
}

h2{}

h5{ margin:0px;
    margin-bottom: 3px;
}


/* BOOKS FOR SALE */
.for-sale-img{
    width: 100px !important;
}

.books{
    max-width: 750px;
    max-height: 200px;
}

.for-sale-table{
    width: 100%;
}

.for-sale-info-1{
    width: 150px;
}

.for-sale-info-2{

}

.for-sale-title,
.for-sale-author
.for-sale-binding,{
    font-size: small;
}

.for-sale-price{
    font-size:small;
    color: #B12704;
    font-weight: bold;
}

@media (max-width: 970px) {
    .home       {max-width: 500px;}
    .books      {max-width: 650px;}
    #details,#for-sale    {
        text-align: center;}
}

