/*http://homestead.app/order/buyer/#*/

#message {
    font-style: italic;
}

#message-cont {
    padding: 1%;
    margin-top: 5px;
}


.print{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

#details1{
    font-weight: bold;
}

#details2{
    outline: 1px solid rgba(0, 0, 0, 0.30);
}

#details3{
    /*outline: 1px solid rgba(0, 0, 0, 0.30);*/
    border: 2px solid #F9AA62;
    margin-top: 10px;
    margin-bottom: 30px;


}

.row-items{
    background-color: rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    margin-bottom: 10px;
}

hr{
    border-color: black;
}

.btn-cancel {
    background: #F16521;
    color: #FFFFFF;
    border: none;
}

#cancelled{
    color: red;
}

/* showBuyerOrder*/

#h1-showBuy{
    margin-left:-15px;
}

.input-box, .add-on {
    padding: 1% !important;
}

.icon-calendar{
    margin-bottom: 10px !important;
}