/******* TEXTBOOK SEARCH LIST *******/

#search-term {
    text-align: center;
    margin-bottom: 40px;
}

.textbook-list-container {
    background-color: #F2F2F2;

}

/* TEXTBOOK LIST */
.textbook-img-container {
    width: 100px !important;

}

.textbook-img {
    width: 100px;
    height: 135px;
}

.textbook-list {
    max-width: 800px;
}

.textbook-table {
    width: 100%;
}

.textbook-item {
    font-size: small
}

.textbook-info-1 {
    width: 350px;
}

.table-offset {
    width: 200px;
}

.textbook-title {
    font-size: medium;
    font-weight: bold;
}

.for-sale-author {
}

.for-sale-binding {
}

.for-sale-isbn {
}

.for-sale-class {
}

.textbook-price {
    color: #B12704;
    font-weight: bold;
}

.textbook-pub-date {
    font-size: medium;
}

.add-cart-btn {
    background: #7AB4DE;
    color: #FFFFFF;
    border: none;
    width: 100px;
    box-shadow: 0 5px #5B86AA;
}

.add-cart-btn:hover,
.add-cart-btn:focus {
    color: #FFFFFF;
}

.add-cart-btn:active {
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
}

@media (max-width: 970px) {
    .home {
        max-width: 500px;
    }

    .textbook-list {
        max-width: 650px;
    }

    #details, #textbook {
        text-align: center;
    }
}