/* CSS for waitForActivation.blade.php *//* Import of all modules *//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* GENERAL TEXT COLORS *//* HEADER/NAV COLORS *//*$nav-background-color: #241729;*//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 *//* BASE STYLES *//* HEADERS *//* NAVIGATION *//* BUTTONS *//* FOOTER */.container-main {
  height: 90vh;
  background-image: url('../img/activation(2).jpg');
  background-size: cover;
}
.container-content {
  padding: 1%;
  color: #fff;
  margin-top: 5%;
  /* background-color: rgba(115, 115, 115, 0.6);*/
  text-shadow: 2px 2px 4px #000;
}
.container-content a {
  color: #44c1ff;
}
.container-content code {
  text-shadow: 0px 0px 0px;
}
