/***  Top tabbed bar when in user/ account ***/

#user-bar {
    padding: 0%;
    background-color: #F9AA62;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #E7E6E6;
    background-color: #E7E6E6;
}
