/* Search AutoComplete Suggestions */
@import "../modules/all";

#autocomplete {
  border-right: 0; // prevent the right border of the search bar from shaking when expanding
}

.autocomplete-thumbnail {
  display: inline-block;
  margin-right: $spacing-unit / 2;
  vertical-align: middle;
  overflow: hidden;
  img {
    display: block;
    width: 80px;
    height: 100px
  }
}

.autocomplete-data {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-widget-content {
  border: 1px solid $border-color;
  border-top: none;
  background: $background-color;
  color: $body-text-color;

  .ui-state-focus {
    border: 1px solid $border-color;
    background: $light-turquoise;
    color: $body-text-color;
  }
}

.ui-widget {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.ui-menu .ui-menu-item {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1px;
  padding: $spacing-unit / 2;
}