@import '../modules/all';

/* Common classes */
body {
  font-family: $base-font-family;
  background: $background-color;
  color: $body-text-color;
}

.full-width {
  width: 100%;
}

.padding-large {
  padding: 15px;
}

.margin-small {
  margin: 5px;
}

.margin-medium {
  margin: 10px;
}

.margin-large {
  margin: 15px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

.rel-bot-10 {
  position: relative;
  bottom: 10px;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $background-grey;
}

.price {
  color: $price-color;
}

/* Bootstrap Override */
a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    outline: none;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $primary-color;
}