@import '../modules/all';

/* Common classes */
body {
  font-family: $base-font-family;
  background: $background-color;
  color: $body-text-color;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $background-grey;
}

.price {
  color: $price-color;
}

/** GLOBAL ALERT **/

.alert {
  padding: 10px;
  margin-bottom: 10px;
}

.session-alert, .js-alert {
  z-index: 999;
  position: fixed;
  right: $spacing-unit;
  top: $spacing-unit * 2;

  .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
  }
}

/* Bootstrap Override */
a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    outline: none;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $primary-color;
}