/*** BUTTON STYLES ***/
@import "../modules/colors";

.btn {
  border-radius: 2px;
}

.button {
  &:focus {
    outline: none;
  }
}

.btn-default {
  color: $body-text-color;
}

.primary-btn {
  background: $primary-color;
  color: $button-text-color;
  border: none;
  &:hover, &:focus {
    background: $button-primary-hover-color;
    outline: 0 !important;
    color: $button-text-color;
  }
}

.submit-btn {
  width: 150px;
  padding: 12px;
}

.secondary-btn {
  background: $secondary-color;
  color: $button-text-color;
  border: none;
  margin: 5px;
  &:hover, &:focus{
    background: $button-secondary-hover-color;
    outline: 0;
    color: $button-text-color;
  }
}

.muted-btn{
  background-color: $background-light-grey;
  color: $button-text-color;
  border: none;

  &:hover {
    color: $muted-text-color;
  }
}

.list-search-btn {
  background: $primary-color;
  border: none;
  height: 34px;
  width: 38px;
  margin-left: 0 !important;
  &:hover, &:focus {
    outline: 0 !important;
    background: $primary-color;
  }
}

.cancel-order-btn {
  margin: 0;
}