/*** FORM STYLING ***/
@import '../modules/colors';
@import '../modules/typography';

.form-control {
  &:focus {
    border: 2px solid $primary-color;
    box-shadow: none;
  }
}

.row-margin-bottom {
  margin-bottom: $spacing-unit / 2;
}