/*** FORM STYLING ***/
@import '../modules/all';

.row-margin-sm {
  margin-bottom: $spacing-unit / 4;
}

.row-margin-md {
  margin-bottom: $spacing-unit / 2;
}

.row-margin-lg {
  margin-bottom: $spacing-unit;
}

.form-control {
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 300;

  &:focus {
    border-color: $primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}