/*** FORM STYLING ***/
@import '../modules/all';

.row-margin-sm {
  margin-bottom: $spacing-unit / 4;
}

.row-margin-md {
  margin-bottom: $spacing-unit / 2;
}

.row-margin-lg {
  margin-bottom: $spacing-unit;
}

.form-control {

  &:focus {
    border-color: $primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}