/*** MODAL STYLING ***/
@import "../modules/all";

.modal-dialog {
  margin: 15% auto;
}

.close-modal-btn {
  &:hover, &:focus {
    outline: 0;
    color: white;
    text-shadow: none;
    opacity: 1;
  }
}

.modal-header {
  background-color: $primary-color;
  color: white;
}

.modal-footer {
  background-color: $background-color;
}

.remember-me, .forgot-password {
  display: inline;
}

// fix the bug that the nav bar links shift to right when open the modal.
// https://github.com/twbs/bootstrap/issues/14040
body.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}