/*** MODAL STYLING ***/
@import "../modules/all";

.close-modal-btn {
  &:hover, &:focus {
    outline: 0;
    color: white;
    text-shadow: none;
    opacity: 1;
  }
}

.modal-header {
  background-color: $primary-color;
  color: white;
}

.modal-footer {
  background-color: $background-color;
}

.remember-me, .forgot-password {
  display: inline;
}
