@import "../modules/all";

.panel-presentation {
  -webkit-box-shadow: none;
  box-shadow: none;

  .panel-heading {
    color: $body-text-color;
    border-bottom: 1px solid $border-color;
  }

  .panel-footer {
    border: none;
    background-color: $background-color;
  }
}