@import "../modules/all";

.table-default{
  background-color: $table-background-color;
  border: 1px solid #{$table-border-color};
}

.table-primary{
  background-color: $table-background-color;
  border: 1px solid #{$primary-color};
}

.table-secondary{
  background-color: $table-background-color;
  border: 1px solid #{$secondary-color};
}