@import "../modules/all";

.table-default {
  background-color: $table-background-color;
  //border: 1px solid #{$table-border-color};

  thead {
    tr th {
      padding: $spacing-unit / 2;
    }
  }

  tbody, tfoot {
    tr td {
      padding: $spacing-unit / 2;
    }
  }
}

.table-primary{
  background-color: $table-background-color;
  border: 1px solid #{$primary-color};
}

.table-secondary{
  background-color: $table-background-color;
  border: 1px solid #{$secondary-color};
}