@import "../modules/all";

.table-default {
  thead {
    tr th {
      padding: $spacing-unit / 2;
    }
  }

  tbody, tfoot {
    tr td, tr th {
      padding: $spacing-unit / 2;
    }
  }
}

.table-no-border {
  tbody {
    tr td, tr th {
      border: none;
    }
  }
}


.table-panel {
  tbody {
    tr td {
      border: none;
    }
  }

}

.table-primary{
  background-color: $table-background-color;
  border: 1px solid #{$primary-color};
}

.table-secondary{
  background-color: $table-background-color;
  border: 1px solid #{$secondary-color};
}