/*********  ABOUT PAGE  *********/

@import "modules/all";

.about-background {
  background: url("../img/bu-west.jpg") no-repeat center;
  background-size: cover; /* Fill entire container */
}

//mobile overflow fix
.no-overflow {
  overflow-x: hidden;
}

#about-jumbotron {
  background-color: $transparent;
}

#about-title {
  margin-top: 25%;
  margin-bottom: 20%;
  text-align: center;
  color: white;
}

.about-stuvi {
  margin-top: 50px;
}

.team {
  margin-top: 75px;
}

.team-container {
  margin: 0 10px;
  @media(max-width: 320px){
    margin: 0;
    padding: 0;
  }
}

.team-grid {
  margin: 50px auto 20px;
  padding-left: 4%;
  @media (min-width: 800px){
    padding-left: 20%;
  }
  @media (min-width: 1080px){
    padding-left: 10%;
  }
  @media (min-width: 1300px){
    padding-left: 20%;
  }
}

.team-grid > div {
  margin-bottom: 30px;
}