/*http://homestead.app/order/buyer/#*/
/*http://homestead.app/order/seller/#*/

/*CSS For both showSellerOrder and showBuyerOrder
 *
 * Page is accessed when viewing more details of an order
 */


/* Alert message */
#message {  font-style: italic;  }

/* Alert message container */
#message-cont {
    padding-left: 0px !important;
    margin-top: 5px;
}

.alert-sucess-container{
    padding-left: 0px;
}

/* entire container for the content */
/* This prevents showing white space below the footer */
.show-order-container{
    /*height: 70vh;*/ /* BUG */
}

/* Ordered on, order #, order canceled */
#details1{  font-weight: bold;  }

/* outline is basically like border
 * Only used in showbuyerorder
 */

#details2{  outline: 1px solid rgba(0, 0, 0, 0.30);  }

/* Bulk of the details */
.box{
    /*outline: 1px solid rgba(0, 0, 0, 0.30);*/
    border: 2px solid #F9AA62;
    margin-top: 10px;
    margin-bottom: 30px;
}

.row-title{
    background-color: rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
    margin-bottom: 10px;
}

hr{  border-color: black;  }

/* Cancel order button */
.btn-orange {
    background: #F16521;
    color: #FFFFFF;
    border: none;
    padding: 7px 10px !important;
}

/* Header when order is canceled */
#cancelled{  color: red;  }

/* showBuyerOrder only*/

/* "Order Details" */
#h1-showBuy{
    margin-left:-17px;
}

/* Address */

.seller-address {
    /*border: 1px solid #eee;*/
    display: inline-block;
    /*margin: 20px;*/
    padding: 0px;
}

.seller-address a{
    min-width: 30%;
}

.seller-address ul {
    list-style-type: none;
    padding: 0px;
}