/*product/show.blade.php*//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* GENERAL TEXT COLORS *//* HEADER/NAV COLORS *//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//** PRODUCT INFO **/
#bg {
  background-color: whitesmoke;
}
#det-cont {
  padding-bottom: 10%;
}
.back-row {
  padding-top: 10px;
}
#go-back {
  margin-left: 10px;
}
.pro-img {
  max-width: 300px;
}
.pro-img-small {
  max-width: 50px;
}
#det-cont {
  margin: inherit;
  padding-top: 10px;
}
.details-table {
  background-color: white;
  border: 3px solid #ddd;
  width: 50%;
  margin-top: 2%;
}
.details-table th, .details-table td {
  border: 1px solid #ddd;
  padding-left: 2px;
}
@media (max-width: 768px) {
  .details-table {
    width: 100%;
  }
}
.add-cart-btn {
  display: block;
  /*    margin-left: auto;
 margin-right: auto;*/
  background: #7ab4de;
  color: #fff;
  border: none;
  width: 100px;
  box-shadow: 0 5px #5b86aa;
  margin-top: 2%;
  margin-bottom: 1%;
}
.add-cart-btn:hover, .add-cart-btn:focus {
  color: #fff;
}
.add-cart-btn:active {
  box-shadow: 0 2px #5b86aa;
  transform: translateY(5px);
}
.price b {
  color: #b61f17;
}
.seller-desc {
  margin: 0;
  padding: 0;
}
@media (max-width: 990px) {
  .seller-desc {
    padding-left: 15px;
  }
}

/*** PRODUCT CONDITION ***/
.form-group {
  margin-bottom: 0;
}
.fa-question-circle {
  color: #7ab4de;
  cursor: pointer;
}
.close-modal-btn:hover, .close-modal-btn:focus {
  outline: 0;
  color: #f16521;
  opacity: 1;
}
