/***** SELLER PRODUCT CREATE PAGE *****//* Import of all modules *//*
 * Stuvi color palette
 * Please use these variables for any colors used.
 *//* GENERAL COLORS *//* GENERAL TEXT COLORS *//* HEADER/NAV COLORS *//* FOOTER COLORS *//* TABLE COLORS *//* BUTTON COLORS *//*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 *//* BASE STYLES *//* HEADERS *//* NAVIGATION *//* BUTTONS *//* FOOTER */
body {
  background-color: #f2f2f2;
}
.create-container {
  margin-bottom: 50px;
}
/*** TEXTBOOK INFO ***/.textbook-row {
  margin-top: 50px;
}
#textbook-img {
  width: 300px;
  height: 400px;
}
#textbook-img span {
  font-size: 18px;
}
.authors-container {
  margin-bottom: 10px;
}
.author-btn {
  background-color: #f16521;
  color: #fff;
  border: none;
}
.author-btn:hover, .author-btn:focus {
  background-color: #f16521;
  color: #fff;
}
.textbook-info p {
  font-size: 16px;
  margin-bottom: 5px;
}
/*** PRODUCT CONDITION ***/.condition-btn {
  background-color: #ddd;
  border: 1px solid #9b9b9b;
}
.condition-btn:hover, .condition-btn:focus {
  background-color: #bbb;
}
.condition-btn:active {
  background-color: #f16521;
  color: #fff;
  box-shadow: none;
}
.form-control :focus {
  border: 2px solid #7ab4de;
  box-shadow: none;
}
.fa-question-circle {
  color: #7ab4de;
  cursor: pointer;
}
.close-modal-btn:hover, .close-modal-btn:focus {
  outline: 0;
  color: #f16521;
  opacity: 1;
}
/** PRESSED BUTTON **/.sell-btn {
  display: block;
  background: #7ab4de;
  color: #fff;
  border: none;
  width: 100px;
  box-shadow: 0 5px #5b86aa;
}
.sell-btn:hover, .sell-btn:focus {
  color: #fff;
  outline: 0 !important;
}
.sell-btn:active {
  box-shadow: 0 2px #5b86aa;
  transform: translateY(5px);
}
/** File upload error messages **/.upload-error-message {
  display: none;
  color: red;
  font-weight: bold;
}
