/* CSS for waitForActivation.blade.php */


.container-main{

    height: 70vh;
    background-image: url('../../img/activation(2).jpg');
    background-size: cover;
    background-color: #F2F2F2;
}

.container-content{
    padding: 1%;
    color: #ffffff;
    margin-top: 5%;
   /* background-color: rgba(115, 115, 115, 0.6);*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.container-content a{
    color: #44c1ff;
}

.container-content code{
    text-shadow: 0px 0px 0px;
}