/*
 * Stuvi color palette
 * Please use these variables for any colors used.
 */

/* COLOR PALLETES */
$sea-green:       #00A896;
$sea-green-light: #00B2A4;
$tiffany:         #81D8D0;
$tiffany-light:   #d9f1f1;
$salmon:          #F26F6D;
$salmon-light:    #F27B79;

/* BRAND COLORS */
$primary-color:         #00A896;
$primary-color-light:   #00B2A4;
$primary-color-accent:  #81D8D0;
$secondary-color:       #F26F6D;
$secondary-color-light: #F27B79;

/* TEXT COLORS */
$text-color:        #50514f;
$text-color-light:  #979995;

/* BACKGROUND COLORS */
$background-color:        #f8f8f8;
$background-hover-color:  #f5f5f5;
$background-light-grey:   #cccccc;
$background-grey:         #aaa;
$background-dark:         #50514F;

/* UTILITY COLORS */
$transparent:         rgba(0, 0, 0, 0);
$button-text-color:   #ffffff;
$border-color:        #ddd;
$price-color:         #F25F5C;
