$spacing-unit: 30px;
$extra-letter-spacing: 0.2px;
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

/* FOOTER */
$footer-height: 120px;
$footer-height-mobile: 200px;

/* BOOTSTRAP VARIABLES */
$brand-primary: #00A896;
$brand-danger: #F26F6D;
$body-bg: #fff;
$text-color: #50514f;
$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base: 14px;