@import '../modules/colors';

.btn-primary {
  background: $primary-color;
  color: $button-text-color;
  border: none;
  padding: 7px 10px;

  &:hover, &:focus {
    outline: 0;
    color: $button-text-color;
  }
}

.btn-secondary {
  background: $secondary-color;
  color: $button-text-color;
  border: none;
  box-shadow: 0 5px #5B86AA;

  &:hover, &:focus{
    outline: 0;
    color: #FFFFFF;
  }
}


