/*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 */

/* BASE STYLES */
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$large-font-size: 18px;
$base-font-size: 14px;
$small-font-size: 12px;
$icon-size: 1.4em;
$base-line-height: 1.5;
$spacing-unit: 30px;
$extra-letter-spacing: 0.2px;

/* TEXT COLORS */
$body-text-color: #555;
$muted-text-color: grey;
$heading-text-color: whitesmoke;
$price-color: #B12704;
$link-text-color: null;
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

/* HEADERS */
$header-font-family: null;
$header-text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

/* NAVIGATION */
$navigation-font-family: null;

/* BUTTONS */
$button-font-family: null;

/* FOOTER */
$footer-font-family: null;
$footer-font-size: 14px;