/*
 * FOR GENERAL TEXT STYLING
 * Fonts, font sizes, etc.
 * Avoid using colors here. See _colors.scss.
 *
 */

/* BASE STYLES */
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size-1: 14px;

/* HEADERS */
$header-font-family: null;

/* NAVIGATION */
$navigation-font-family: null;

/* BUTTONS */
$button-font-family: null;

/* FOOTER */
$footer-font-family: null;