/***  Top tabbed bar when in user/ account ***/

/* Sizing adjust for entire bar plus make background the orange color*/
#user-bar {
  padding: 0%;
  background-color: $primary-color;
  margin-top: -20px;
}

/* Fix for color of inactive <a> text */
.tabz{
  color: #555;
  border-bottom-color: $background-color !important;
}

/* Fix for sizing of dropdown for account */
.acc{
  min-width: 170px;
}


/* ALL COLOR FIXING FOR TABS*/

.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid $background-color !important;
  color: #fff !important;
}

.nav-tabs.nav-justified > li.active > a {
  color: $nav-background-color !important;
  background-color: $background-color;
}

.nav-tabs.nav-justified > .active > a    {border-bottom-color: #F2F2F2;}

.nav > li > a:hover, .nav > li > a:focus {background-color: $nav-background-color;}

.nav-tabs > li > a:hover                 {border-color: $nav-background-color;}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $nav-background-color;
  border-color: $nav-background-color;
}

