/*product/show.blade.php*/

/** PRODUCT INFO **/

#bg{
    background-color: whitesmoke;
}

#det-cont{
    padding-bottom: 10%;
}

.back-row{
    padding-top: 10px;
}

#go-back{
    margin-left: 10px;
}

.pro-img{
    max-width: 300px;
}

.pro-img-small{
    max-width: 50px;
}

#det-cont{
    margin: inherit;
    padding-top: 10px;
}

.details-table{
    background-color: white;
    border: 3px solid #DDD;
    width: 50%;
    margin-top: 2%;
}

.details-table th,td{
    border: 1px solid #DDD;
    padding-left: 2px;
}

.add-cart-btn {
    display: block;
/*    margin-left: auto;
    margin-right: auto;*/
    background: #7AB4DE;
    color: #FFFFFF;
    border: none;
    width: 100px;
    box-shadow: 0 5px #5B86AA;
    margin-top: 2%;
    margin-bottom: 1%;
}

.add-cart-btn:hover,
.add-cart-btn:focus {
    color: #FFFFFF;
}

.add-cart-btn:active {
    box-shadow: 0 2px #5B86AA;
    transform: translateY(5px);
}

.price b{
    color: #B61F17;
}

@media(max-width: 768px){
    .details-table{
        width:100%;
    }
}

.seller-desc{
    margin: 0px;
    padding: 0px;
}

@media(max-width: 990px){
    .seller-desc{
        padding-left: 15px;
    }
}


/* Lightbox */

.lightbox-product-link{

}


/*** PRODUCT CONDITION ***/

.form-group{
    margin-bottom: 0px !important;
}

.fa-question-circle {
    color: #7AB4DE;
    cursor: pointer;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    outline: 0;
    color: #F16521;
    opacity: 1;
}
