@import "../modules/all";

/** GLOBAL ALERT **/

.alert {
  padding: $spacing-unit/2;
  margin: 0;
  border-radius: 0;
}

.session-alert, .js-alert {

  .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
  }

}

.modal-open {
  .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
  }
}