@import "../modules/all";

// Alert messages
.session-alert, .js-alert {

  .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
  }

}

.modal-open {
  .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
  }
}