@import "../modules/all";

.btn-default {
  border-color: $brand-default !important;

  &:hover, &:focus {
    background-color: darken($brand-default, 3%) !important;
    outline: none !important;
    border-color: $brand-default !important;
  }
}

.btn-primary {
  &:hover, &:focus {
    background-color: lighten($brand-primary, 3%) !important;
    outline: none !important;
    border: 1px solid lighten($brand-primary, 3%) !important;
  }
}

.btn-info {
  &:hover, &:focus {
    background-color: lighten($brand-info, 3%) !important;
    outline: none !important;
    border: 1px solid lighten($brand-info, 3%) !important;
  }
}

.btn-warning {
  &:hover, &:focus {
    background-color: lighten($brand-warning, 3%) !important;
    outline: none !important;
    border: 1px solid lighten($brand-warning, 3%) !important;
  }
}

.btn-danger {
  &:hover, &:focus {
    background-color: lighten($brand-danger, 3%) !important;
    outline: none !important;
    border: 1px solid lighten($brand-danger, 3%) !important;
  }
}

.btn-success {
  &:hover, &:focus {
    background-color: lighten($brand-success, 3%) !important;
    outline: none !important;
    border: 1px solid lighten($brand-success, 3%) !important;
  }
}

.btn-muted {
  color: white;
  background-color: $background-light-grey;

  &:hover, &:focus {
    color: white;
    background-color: $background-grey;
  }
}

.btn-inline-search {
  border-left: none;
  color: $text-color-light;

  &:hover, &:focus {
    background-color: $background-color;
  }
}

.btn-no-border {
  border: none !important;
}