@import "../modules/all";

.btn-default {
  &:hover, &:focus {
    outline: none !important;
  }
}

.btn-primary {
  &:hover, &:focus {
    background-color: $primary-color-light !important;
    outline: none !important;
    border: 1px solid $primary-color !important;
  }
}

.btn-muted {
  color: $button-text-color;
  background-color: $background-light-grey;

  &:hover, &:focus {
    color: $button-text-color;
    background-color: $background-grey;
  }
}

.btn-inline-search {
  border-left: none;
  color: $text-color-light;

  &:hover, &:focus {
    background-color: $background-color;
  }
}