@import "../modules/all";

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
  background-color: $primary-color-light !important;
  outline: 0 !important;
  color: $button-text-color !important;
  border: 1px solid $primary-color-light !important;
}

.btn-default {
  color: $text-color;
  border: 1px solid $border-color;

  &:hover, &:focus {
    background-color: $primary-color-light !important;
    outline: 0 !important;
    color: $button-text-color;
    border: 1px solid $primary-color !important;
  }
}

.btn-primary {
  &:hover, &:focus {
    background-color: $primary-color-light !important;
    outline: 0 !important;
    border: 1px solid $primary-color !important;
  }
}

.btn-muted {
  color: $button-text-color;
  background-color: $background-light-grey;

  &:hover, &:focus {
    color: $button-text-color;
  }
}

.btn-search {
  padding: 9px 27px;
  height: 3em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-search-icon {
  height: 34px;
}

.fa-question-circle {
  color: $tiffany;
  cursor: pointer;
}