@import "../modules/all";

.container-wrapper {
  min-height: calc(100vh - #{$footer-height});

  @media (max-width: 768px) {
    min-height: calc(100vh - #{$footer-height-mobile});
  }
}

.va-container-h {
  width: 100%;
}

.va-container-v {
  height: 100%;
}

.va-container {
  display: table;
  position: relative;
}

.va-middle {
  vertical-align: middle;
  display: table-cell;
}

.va-top {
  vertical-align: top;
  display: table-cell;
}

.container-flex {
  display: flex;
}

.item-flex-grow-1 {
  flex-grow: 1;
}