// Footer CSS Template
// http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/

@import "../modules/all";

.footer-distributed {
  height: $footer-height;
  background-color: $background-dark;
  color: $clouds;
  padding: $spacing-unit * 2;

  a {
    color: $clouds;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;

    &:hover {
      color: $clouds;
    }
  }

  ul {
    margin: 10px 0 $spacing-unit/2 0;
    padding-left: 0;
    list-style-type: none;
  }

  @media (max-width: 768px) {
    height: $footer-height-mobile;
  }

  .footer-section-title {
    font-size: 1.4em;
    font-weight: 300;
  }

  .copyright {
    color: darken($clouds, 10%);
    font-weight: 300;
  }
}

