/*** FORM STYLING ***/
@import '../modules/all';

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 300;

  &:focus {
    border-color: $brand-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.has-success .form-control {
  border-color: $border-color;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.remember-me, .forgot-password {
  display: inline;
}

