/*** FORM STYLING ***/
@import '../modules/all';

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 300;
  border: 1px solid $input-border;

  &:active, &:focus {
    border: 1px solid $brand-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.has-success .form-control {
  border-color: $border-color;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.remember-me, .forgot-password {
  display: inline;
}

.form-button {
  display: inline-block;
  margin-bottom: 0;
}
