@import "../modules/all";

// Logo container

.logo-container {
  width: 120px;
  height: 100%;
  padding: 10px 0;

  img {
    width: auto;
    height: 40px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.logo-text-white, .logo-text-black {
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: 300;
  position: relative;
  bottom: 2px;
  left: 4px;
}

.logo-text-white {
  color: white;

}

.logo-text-black {
  color: $text-color;
}


