@import "../modules/all";

// Logo
.logo-container-lg {
  padding: $spacing-unit 0;
  text-align: center;

  img {
    height: 120px;
  }

  span {
    color: $tiffany;
    font-size: 5.5em;
    font-weight: 300;
    vertical-align: middle;
    padding: 0 $spacing-unit/2;
  }
}

// for home page
.logo-text-white-home {
  color: white;
  vertical-align: middle;
  font-size: 1.4em;
  font-weight: 300;
  position: relative;
  bottom: 2px;
  left: 4px;
}

// for other pages
.logo-text-white {
  font-size: 1.8em;
  position: relative;
  top: 10px;
  color: white !important;
}


