@import "../modules/all";

.modal-dialog {
  margin-top: 10%;
}

.close-modal-btn {
  &:hover, &:focus {
    outline: 0;
  }
}

// fix the bug that the nav bar links shift to right when open the modal.
// https://github.com/twbs/bootstrap/issues/14040
body.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}