@import '../modules/all';

.navbar-default {
  border: 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 8;
}

// Transparent navbar

#navbar-transparent {
  position: absolute;
  top: 0;
  z-index: 8;
  width: 100%;

  @media(max-width: 767px) {
    position: relative;
  }
}

#navbar-transparent .navbar-default {
  -webkit-box-shadow: none;
  box-shadow: none;

  @media(min-width: 767px) {
    background-color: $transparent;
  }
}

#navbar-transparent .navbar-default .navbar-nav > li > a {
  color: white;

  &:hover {
    color: white;
    background-color: $transparent;
  }

  &:focus {
    color: white;
  }

  @media(max-width: 767px) {
    color: $text-color;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

#navbar-transparent .navbar-default .navbar-nav > .open > a {
  background-color: $transparent;

  &:hover, &:focus {
    background-color: $transparent;
    color: white;
  }
}

// Logo container

.logo-container {
  width: 120px;
  height: 50px;

  img {
    width: auto;
    height: 100%;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

// Navbar on xs screen

#xs-screen-logo-link{
  position: absolute;
  left:0;
  @media(min-width: 767px){
    visibility: hidden;
  }
}

#xs-screen-logo-img{
  height: 50px;
  width: auto;
}


#nav-toggle-collapse{
  float: right;
  border: none;
  z-index: 50;
  margin-left: 10px;
  &:hover, &:focus {
    background: none;
  }
  .fa-bars {
    color: $primary-color;
    font-size: 1.5em;
  }
}

@media(max-width: 767px){
  .navbar-nav{
    margin: 0;
  }
}
