@import "../modules/all";

.panel-presentation {

  .panel-heading {
    color: $text-color;
    border-bottom: 1px solid $border-color;
  }

  .panel-footer {
    border: none;
    background-color: $background-color;
  }
}