@import "../modules/all";

// convert radio button to a normal button
.radio-button-group {
  margin: 10px 0 20px 0;
}

.radio-inline {
  padding-left: 0;
}

input[type=radio] {
  display: none;
}

input[type=radio] + span {
  padding: 8px 15px;
  background-color: #eee;
  color: lighten($text-color, 15%);
  font-weight: 600;
  border-radius: 2px;

  &:hover {
    background-color: lighten($salmon-light, 10%);
    color: white;
  }
}

input[type=radio]:checked + span {
  background-color: $salmon-light;
  color: white;
}