/* Reponsive Searchbar
 * Inspired by: http://jsfiddle.net/eUhTM/3/
 */

@import "../modules/all";

#searchbar-form {
  .form-group {
    display: inline;

    .input-group {
      display: table;

      .input-group-btn {
        width: 1%;
      }
    }
  }


  input {
    border: none;
    height: 2.4em;
  }

  [type~="submit"] {
    border: none;
    height: 2.4em;
  }
}
