@import "../modules/all";

.table-default {
  thead {
    tr th {
      padding: $spacing-unit / 2;
    }
  }

  tbody, tfoot {
    tr td, tr th {
      padding: $spacing-unit / 2;
    }
  }
}

.table-no-border {
  tbody {
    tr td, tr th {
      border: none;
    }
  }
}


.table-panel {
  tbody {
    tr td {
      border: none;
    }
  }
}

.table-details {
  margin-bottom: 0;

  tbody {
    tr td, tr th {
      border: none;
    }
  }
}

.table-book-details {
  margin-bottom: 0;

  tbody {
    tr td, tr th {
      border: none;
      padding: 4px;
    }
  }
}