@import '../modules/all';

/* LIST */
.no-bullet {
  list-style-type: none;
}

/* WIDTH */
.full-width {
  width: 100%;
}

.width-33-percent {
  width: 33%;
}

.width-30-percent {
  width: 30%;
}

.width-25-percent {
  width: 25%;
}

.width-130 {
  width: 130px;
}

/* PADDING */
.page-content {
  padding-top: $spacing-unit;
}

.padding-15 {
  padding: 15px;
}

.padding-30 {
  padding: 30px;
}

.padding-60 {
  padding: 60px;
}

.padding-vertical-5 {
  padding: 5px 0;
}

.padding-vertical-15 {
  padding: 15px 0;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.no-padding-left {
  padding-left: 0;
}

/* MARGIN */
.margin-5 {
  margin: 5px;
}

.margin-15 {
  margin: 15px;
}

.margin-30 {
  margin: 30px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-vertical-5 {
  margin: 5px 0;
}

.margin-3-percent {
  margin: 3%;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

// Display
.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

/* POSITION */
.rel-bot-10 {
  position: relative;
  bottom: 10px;
}

/* BACKGROUND */
.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $background-grey;
}

/* COLOR */
.price {
  color: $price-color;
}

// font
.text-bold {
  font-weight: 600;
}