/* Footer CSS Template
   http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/

*/
@import "../modules/all";

.footer-distributed {
  padding: $spacing-unit 0;

  a {
    margin: $spacing-unit / 4;
    color: $body-text-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  ul {
    list-style-type: none;

    li {
      display: inline;
    }

    li:after {
      content: " \00b7";
    }

    li.nobullet:after {
      content: none;
    }
  }
}

.social-links {
  font-size: 18px;
}

.company-info {
  .copyright {
    margin-right: $spacing-unit / 4;
  }
}