/* Footer CSS Template
   http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/

*/
@import "../modules/all";

/* VARIABLES */
$footer-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

.footer-distributed {
  background-color: $footer-background-color;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal #{$footer-font-size} #{$base-font-family};
  padding: 30px 50px;
  margin-top: 0;


  .footer-left {
    // copyright
    p {
      color: $footer-copyright-text-color;
      font-size: $footer-font-size;
      margin: 0;
    }

    .footer-links {
      font-size: $footer-font-size;
      color: $footer-text-color;
      margin: 0 0 10px;
      padding: 0;

      a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
      }
      @media(min-width: 2500px){
        font-size: 30px;
      }

    }
  }

  .footer-right {
    float: right;
    margin-top: 0px;
    max-width: 180px;

    a{
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 999px;
      font-size: 20px;
      color: $footer-text-color;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      position: relative;
      bottom: 5px;
    }
  }
}


/* Additional styling */

.social {
  &:hover {
    background-color: $primary-color !important;
  }
}

.footer-link {
  &:hover {
    color: $accent-color !important;
  }
}

.divider {
  color: #FFFFFF;
}

hr {
  opacity: 0.3;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed {
    .footer-left {
      text-align: center;
      p.footer-links {
        line-height: 1.8;
      }
    }
    .footer-right {
      text-align: center;
      float: none;
      margin: 0 auto 20px;
    }
  }
}


