/* Footer CSS Template
   http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/

*/
@import "../modules/all";

.footer-distributed {
  background-color: $background-dark;
  color: white;
  padding: $spacing-unit;

  a {
    margin: $spacing-unit / 4;
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  ul {
    margin: $spacing-unit 0;
    list-style-type: none;

    li {
      display: inline;
    }
  }
}

.footer-links, .company-info {
  ul {
    li:after {
      content: " \00b7";
    }

    li.nobullet:after {
      content: none;
    }
  }
}

.social-links {
  font-size: 18px;
}

.copyright {
  margin-right: $spacing-unit / 4;
}