/* LOGIN SIGNUP MODAL */
@import "../modules/all";

.login-signup-modal{
}

.modal-header {
  text-align: center;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.loading {
  position: absolute;
  margin-left: 15px;
  margin-top: 7px;
  color: $accent-color;
}

.modal-backdrop{
  z-index: 10;
}
