/* SCSS for navigation bar. See _colors.scss and _footer.scss */

/* VARIABLES */

/*  CSS FOR NAVIGATION BAR  */
@import '../modules/all';

a:focus {
  outline: 0;
}

/******* NAVIGATION BAR *******/

#nav {
  background: $nav-background-color;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
  margin-bottom: 0;
}

#bootstrap-override .nav-link {
  color: $body-text-color;

  &:hover{
    color: $body-text-color;
    background-color: $background-hover-color;
  }

  @media(max-width: 767px){
    text-align: center;
  }
}

.active-nav {
  background-color: $nav-background-color;
  @media (min-width: 768px) {
    border-bottom: 5px solid #{$primary-color};
  }
  color: $primary-color !important;
}


.logo-container {
  width: 120px;
  height: 48px;
  img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 767px) {
    display: none;
  }
}


.nav-login {
  height: 50px;
}

/******* NAVIGATION HAMBURGER MENU *******/

#xs-screen-logo-link{
  position: absolute;
  left:0;
  @media(min-width: 767px){
    visibility: hidden;
  }
}

#xs-screen-logo-img{
  height: 50px;
  width: auto;
}


#nav-toggle-collapse{
  float: right;
  border: none;
  z-index: 50;
  margin-left: 10px;
  &:hover, &:focus {
    background: none;
  }
  .fa-bars {
    color: $primary-color;
    font-size: 1.5em;
  }
}

@media(max-width: 767px){
  .navbar-nav{
    margin: 0;
  }
}

/******* NAVIGATION DROPDOWN *******/

#nav-drop {
  padding-bottom: 10px;
  &:focus {
    background-color: $nav-background-color;
  }
  &:hover{
    color: $primary-color;
    background-color: $nav-background-color;
    #account-name, .nav-caret{
      color: $primary-color;
      background-color: $nav-background-color;
    }
  }
}

.nav-caret {
  color: $nav-text-color;
  margin-top: 0px;
  &:hover{
  }
}

.dropdown-menu {
  li{
    a{
      &:hover{
        background-color: $primary-color;
        color: white;
      }
    }
  }
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Fix for when dropdown is open, the text was getting changed to dark*/
#account-name {
  color: $nav-text-color;
}

#cart-fix {
  line-height: 19px;
}